{% extends "website/base.html" %}
{% load i18n humanize static %}
{% block page_title %}<title xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">ikwen - {% trans 'About Us' %} </title>{% endblock %}

{% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="ikwen." >
    <link rel="shortcut icon" type="image/png" href="{% static "website/img/favicon_ikwen.ico" %}">
    <meta name="theme-color" content="#28a745">
    <meta name="msapplication-navbutton-color" content="#233682">
    <meta name="apple-mobile-web-app-status-bar-style" content="#233682">
    <meta property="description" content="{% trans "Web Apps to empower your small or big business" %}" />
    <meta name="abstract" content="IKWEN provides you with very simple Cloud Apps to take your business to digital world hassle free."/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{% url 'about' %}" />
    <meta property="og:image" content="{% static 'website/img/ikwen logo_without-slogan.png' %}" />
    <meta property="og:title" content="{% trans "IKWEN" %}"/>
    <meta property="og:description" content="{% trans "Web Apps to empower your small or big business" %}">
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link rel='stylesheet' href="{% static 'ikwen/css/flatly.bootstrap.min.css' %}" />
    <link rel='stylesheet' href="{% static 'website/css/animation.css' %}" />
    <link rel='stylesheet' href="{% static 'website/css/about.css' %}?V=20.9.8.5.23" />
    <style>
        #section-header-general-view {
            background: url("{% static 'website/img/ikwen-about_header.png' %}") center bottom no-repeat;
        }
    </style>
{% endblock %}
{% block header_brand %}
    <a class="navbar-brand hidden-xs" href="{{ service.url }}">
        <img src="{% static "website/img/logo-ikwen_for-header.png" %}">
    </a>
    <strong class="navbar-brand visible-xs">{{ service.project_name }}</strong>
{% endblock %}
{% block content %}
    {{ block.super }}
    <section id="section-header-general-view">
        <div class="container-fluid text-center">
            {% blocktrans %}
                <h1 class="section-header hidden-xs">
                    We are a <span class="blue">cloud</span> company.<br>
                    Our mission is to <span class="yellow">provide organizations</span> with <br>
                    <span class="orange">simple and powerful</span> applications that will help them <br>
                    run their <span class="green">businesses on internet.</span>
                </h1>
                <h3 class="section-header visible-xs">
                    We are a <span class="blue">cloud</span> company.<br>
                    Our mission is to <br>
                    <span class="yellow">provide organizations</span> with
                    <span class="orange">simple and powerful</span> applications that will help them
                    run their <br>
                    <span class="green">businesses on internet.</span>
                </h3>
            {% endblocktrans %}
            <div class="anchor">
                <a class="js-scrollTo " href="#banner-top" style="text-decoration: none"><i class="fa fa-arrow-circle-down animated infinite glow" style="color: #b3e5fc"></i></a>
            </div>
        </div>
    </section>
    <div id="banner-top" class="container-fluid banner-top text-center">
        <div class=" row catchy-overlay">
            <h1 class="banner-top-catchy">{% trans 'Discover our featured Apps' %}</h1>
        </div>
    </div>
    <section id="section-apps" class="section">
        <div class="container">
            <div class="">
                <div class="col-md-3 product-logo text-center">
                    <a href="{% url 'tsunami:home' %}">
                        <img class="img-responsive img-logo magictime" src="{% static 'website/img/Logo-IKWEN-Tsunami.png' %}">
                        <h3><b>TSUNAMI</b></h3>
                    </a>

                </div>
                <div class="col-md-3 product-logo text-center">
                    <a href="{% url 'pinsview' %}">
                        <img class="img-responsive img-logo magictime" src="{% static 'website/img/Logo-PinsView.png' %}">
                        <h3><b>PINSVIEW</b></h3>
                    </a>
                </div>
                <div class="col-md-3 product-logo text-center">
                    <a href="{% url 'kakocase' %}">
                        <img class="img-responsive img-logo magictime" src="{% static 'website/img/logo-kakocase.png' %}">
                        <h3><b>KAKOCASE</b></h3>
                    </a>

                </div>
                <div class="col-md-3 product-logo text-center">
                    <a href="{% url 'foulassi:home' %}">
                        <img class="img-responsive img-logo magictime" src="{% static 'website/img/Logo-Foulassi.png' %}">
                        <h3><b>FOULASSI</b></h3>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="section-values" class="section">
        <div class="container">
            <h1 class="hidden-xs text-center" style="margin: 10vh">{% trans "Our Values" %}</h1>
            <div class="row features">
                <div class="col-sm-6 visible-xs">
                    <h2 class="text-center" style="font-weight: 700">{% trans "Our Values" %}</h2>
                    <img class="img-responsive" src="{% static 'website/img/ikwen-about_our_values.png' %}">
                </div>
                <div class="col-sm-6 description">
                    <div class="desc">
                        {% blocktrans %}
                        <h3>Fairness</h3>
                        <p> Let's develop solutions that work and bring real added value to the customer to ensure the sustainability of our collaborations.</p>
                        <h3>Achievement</h3>
                        <p> We are convinced that an Internet solution is only viable if it can be exploited by a very large population.</p>
                        <h3>Conviviality</h3>
                        <p> Our solutions and the data it handles must be accessible and up-to-date to ensure the best customer experience.</p>
                        <h3>Focus</h3>
                        <p> Work hard in silence, let success make all the noise.</p>
                        <h3>Family</h3>
                        <p> We consider all our users to be members of the large ikwen family. As a result, your data, and your well-being, are particularly important to us.</p>
                        {% endblocktrans %}
                    </div>
                </div>
                <div class="col-sm-6 img values">
                    <div class="overlay">
                        {# Force DIV height by putting the same text and set visibility to hidden #}
                        <div class="desc hidden-xs" style="visibility: hidden">
                            {% blocktrans %}
                            <h3>Honestly</h3>
                            <p> Let's develop solutions that work and bring real added value to the customer to ensure the sustainability of our collaborations.</p>
                            <h3>Performance</h3>
                            <p> We are convinced that an Internet solution is only viable if it can be exploited by a very large population.</p>
                            <h3>Persistence</h3>
                            <p> Our solutions and the data it handles must be accessible and up-to-date to ensure the best customer experience.</p>
                            <h3>Focus</h3>
                            <p> Work hard in silence, let success make all the noise.</p>
                            <h3>Conviviality</h3>
                            <p> We consider all our users to be members of the large ikwen family. As a result, your data, and your well-being, are particularly important to us.</p>
                            {% endblocktrans %}
                        </div>
                        {# End Force DIV height #}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block footer %}
    <footer class="container-fluid" style="">
        <div class="row footer-overlay">
            <p style="color: #464646; margin-top: 10vh">
            &copy; {{ year }} <a class="company-name" href="{{ service.url }}"><strong style="color: #3a3a3a; font-weight: 700">{{ config.company_name }}</strong></a>.
            {% trans "All rights reserved." %}
            {% if config.legal_mentions_url %}
            - <a href="{{ config.legal_mentions_url }}" style="color: #FFF; text-decoration: none">{% trans "Legal mentions" %}</a>
            {% endif %}
            </p>
        </div>
    </footer>
{% endblock %}

{% block js %}
{{ block.super }}
    <script>
        (() => {
            let scrollBreakPoint = 50;
            $(window).scroll((event) => {
                let scrollTop = $(this).scrollTop();
                if (scrollTop > scrollBreakPoint){
                    let opacity = Math.abs(scrollBreakPoint - scrollTop) / 100;
                    $('#navbar').css("background-color", `rgba(255, 255, 255, ${opacity})`).addClass('has-shade');
                } else {
                    $('#navbar').css("background-color", "transparent").removeClass('has-shade');
                }
            });
            $('.img-logo').mouseenter(function () {
                $(this).addClass('boingInUp')
            });
            $('.img-logo').mouseout(function () {
                $(this).removeClass('boingInUp')
            });
            $('.js-scrollTo').on('click', function() {
                let page = $(this).attr('href');
                let speed = 750;
                $('html, body').animate( { scrollTop: $(page).offset().top }, speed );
                return false;
            });
        })()
    </script>
{% endblock %}
