{% extends 'com/base.html' %}
{% load i18n humanize static %}

{% block meta %}
    {{ block.super }}
    <link rel="shortcut icon" type="image/png" href="{% static "tsunami/img/favicon_Tsunami.ico" %}">
    <meta name="theme-color" content="#233682">
    <meta name="msapplication-navbutton-color" content="#233682">
    <meta name="apple-mobile-web-app-status-bar-style" content="#233682">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.ikwen.com/tsunami/" />
    <meta property="og:image" content="{% static 'tsunami/img/customers_retention(og_image).jpg' %}" />
    <meta property="og:title" content="{% trans "ikwen TSUNAMI, the cloud tools your business needs" %}"/>
    <meta property="og:description" content="{% trans "Reach more customers and sell all your stocks with Kakocase" %}">
{% endblock %}

{% block page_title %}
    <title> ikwen - Kakocase Bundles</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'tsunami/css/tsunami_bundles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/kakocase.css' %}?V=21.01.28-02.48">
{% endblock %}

{% block header_brand %}
    <a class="navbar-brand hidden-xs" href="{{ service.url }}">
        <img src="{% static "tsunami/img/logo_ikwen_web_header.png" %}"/>
    </a>
    <strong class="navbar-brand visible-xs">{{ service.project_name }}</strong>
{% endblock %}

{% block content %}
    <body style=" background: #f8f9fa url('{% static 'tsunami/img/Tsunami_bundle_entete.png' %}') center center;
            -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height: 100vh; background-repeat: no-repeat">
        <div class="container" style="font-family: Lato; margin-bottom: 10vh; padding-top: 10vh;" id="section-header-general-view">
{#        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .15)#}
            <section class="faq faq-general-view">
                <div class="row">
                    <div style="border-top: 2px solid #65ccfa; border-radius: 30px; margin-top: 4vh; padding-top: 6vh;"></div>
                    <div class="text-center">
                        <h1 class="col-md-2 col-md-offset-5 faq-title">F.A.Q</h1>
                    </div>
                    <div style=" float: left; width: 100%;">
                        <div class="col-md-5 faq-item">
                            <h4 class="faq-question">{% trans 'What is “Deploy” ? What do I get from Deploying ?' %}</h4>
                            <p class="faq-answer">
                                {% blocktrans %}
                                    Deploy simply means create your own online platform. What you get is the Kakocase suite under the name of your company.
                                    From then, you can start adding contacts in your Cloud Customer Manager, and set all kinds of revivals.
                                    You can publish your products on the platform and get customers to visit and buy online.
                                    Your platform is immediately accessible with the link <cite title="Your online platform generated link takes the name of your company">http://go.ikwen.com/yourcompany</cite>.
                                    You can further move to yourcompany.com or yourcompany.cm when you buy your own domain name.
                                    See how to buy and configure domain name to discover how to do it.
                                {% endblocktrans %}
                            </p>
                        </div>
                        <div class="col-md-5 col-md-offset-2 faq-item" style="padding-bottom: 5vh;">
                            <h4 class="faq-question">{% trans 'What I am paying for exactly ?' %}</h4>
                            <div class="faq-answer">
                                {% blocktrans %}
                                    When you deploy your Kakocase platform, you get many business-effective online tools including :
                                    <ul style="color: #828282; list-style-type: square;">
                                        <li>
                                            An e-commerce website with online payments.
                                        </li>
                                        <li>
                                            An automated system to store your customer’s contacts and revive them by targeted Mail and SMS.
                                        </li>
                                        <li>
                                            SMS and Email Packs to deliver SMS and mails to your customers.
                                        </li>
                                        <li>
                                            A hosting package to get all that running.
                                        </li>
                                        <li>
                                            Continuous Maintenance, Software updates, Data security, Backups and more...
                                        </li>
                                    </ul>
                                {% endblocktrans %}
                            </div>
                        </div>
                    </div>
                    <div style=" float: left; width: 100%;">
                        <div class="col-md-5 faq-item">
                            <h4 class="faq-question">{% trans 'How do I pay ?' %}</h4>
                            <p class="faq-answer">
                                {% blocktrans %}
                                    Once you deploy your platform, you immediately receive an invoice by mail.
                                    You can view the invoice and pay by MTN MoMo online. Once you have done the payment.
                                    Your service is activated to run for 1 year.
                                    You can print the generated for your accounting.
                                {% endblocktrans %}
                            </p>
                        </div>
                        <div class="col-md-5 col-md-offset-2 faq-item">
                            <h4 class="faq-question">{% trans 'Do I pay once for all ? What happens after the 1 year ?' %}</h4>
                            <p class="faq-answer">
                                {% blocktrans %}
                                    Payment covers the first three months of service. For your service to continue after those 1 year,
                                    you will have to pay for renewal fees that are always much lower than setup fees that cover another 1 year.
                                {% endblocktrans %}
                            </p>
                        </div>
                    </div>
                    <div style=" float: left; width: 100%;">
                       <div class="col-md-5 faq-item">
                            <h4 class="faq-question">{% trans 'What if I don’t pay at the end of the period, are my data deleted ?' %}</h4>
                            <p class="faq-answer">
                                {% blocktrans %}
                                    When the end of the period is approaching, you receive at least 3 reminders with the new invoice to pay.
                                    If you do not pay on time, you are given a consistent amount of extra time to do the payment.
                                    After that period, your platform is shutdown, but all your data are kept.
                                    Everything will be put back in place when you pay your invoice.
                                    Your data are completely deleted after 1 year of inactivity.
                                {% endblocktrans %}
                            </p>
                        </div>
                        <div class="col-md-5 col-md-offset-2 faq-item">
                            <h4 class="faq-question">{% trans 'Can I pay for a year ?' %}</h4>
                            <p class="faq-answer">
                                {% blocktrans %}
                                    Yes you can. You are highly encouraged to pay for a year as you will benefit a discount.
                                    Switch to annual payment view to see how much it costs and get your platform for a year.
                                {% endblocktrans %}
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div style="border-bottom: 2px solid #65ccfa; border-radius: 30px; margin-top: 4vh; padding-top: 6vh;"></div>
                </div>
            </section>

            <section class="faq faq-ipadPro-view" style=" display: none; padding: 5vh 0;">
                <div class="row">
                    <div style="border-top: 2px solid #65ccfa; border-radius: 30px; margin-top: 4vh; padding-top: 6vh;"></div>
                    <div class="text-center">
                        <h1 class="faq-title">F.A.Q</h1>
                    </div>
                    <div style=" float: left; width: 100%;">
                        <div class="col-md-10 col-md-offset-1 faq-item" style="padding-bottom: 5vh;">
                            <h4 class="faq-question">{% trans 'What is “Deploy” ? What do I get from Deploying ?' %}</h4>
                            <p class="faq-answer">
                                {% blocktrans %}
                                    Deploy simply means create your own online platform. What you get is the Kakocase suite under the name of your company.
                                    From then, you can start adding contacts in your Cloud Customer Manager, and set all kinds of revivals.
                                    You can publish your products on the platform and get customers to visit and buy online.
                                    Your platform is immediately accessible with the link <cite title="Your online platform generated link takes the name of your company">http://go.ikwen.com/yourcompany</cite>.
                                    You can further move to yourcompany.com or yourcompany.cm when you buy your own domain name.
                                    See how to buy and configure domain name to discover how to do it.
                                {% endblocktrans %}
                            </p>
                        </div>
                        <div class="col-md-10 col-md-offset-1 faq-item" style="padding-bottom: 5vh;">
                            <h4 class="faq-question">{% trans 'What I am paying for exactly ?' %}</h4>
                            <div class="faq-answer">
                                {% blocktrans %}
                                    When you deploy your Kakocase platform, you get many business-effective online tools including :
                                    <ul style="color: #828282; list-style-type: square;">
                                        <li>
                                            An e-commerce website with online payments.
                                        </li>
                                        <li>
                                            An automated system to store your customer’s contacts and revive them by targeted Mail and SMS.
                                        </li>
                                        <li>
                                            SMS and Email Packs to deliver SMS and mails to your customers.
                                        </li>
                                        <li>
                                            A hosting package to get all that running.
                                        </li>
                                        <li>
                                            Continuous Maintenance, Software updates, Data security, Backups and more...
                                        </li>
                                    </ul>
                                {% endblocktrans %}
                            </div>
                        </div>
                    </div>
                    <div style=" float: left; width: 100%;">
                        <div class="col-md-10 col-md-offset-1 faq-item" style="padding-bottom: 5vh;">
                            <h4 class="faq-question">{% trans 'How do I pay ?' %}</h4>
                            <p class="faq-answer">
                                {% blocktrans %}
                                    Once you deploy your platform, you immediately receive an invoice by mail.
                                    You can view the invoice and pay by MTN MoMo online. Once you have done the payment.
                                    Your service is activated to run for 1 year.
                                    You can print the generated for your accounting.
                                {% endblocktrans %}
                            </p>
                        </div>
                        <div class="col-md-10 col-md-offset-1 faq-item" style="padding-bottom: 5vh;">
                            <h4 class="faq-question">{% trans 'Do I pay once for all ? What happens after the 1 year ?' %}</h4>
                            <p class="faq-answer">
                                {% blocktrans %}
                                    Payment covers the first three months of service. For your service to continue after those 1 year,
                                    you will have to pay for renewal fees that are always much lower than setup fees that cover another 1 year.
                                {% endblocktrans %}
                            </p>
                        </div>
                    </div>
                    <div style=" float: left; width: 100%;">
                       <div class="col-md-10 col-md-offset-1 faq-item" style="padding-bottom: 5vh;">
                            <h4 class="faq-question">{% trans 'What if I don’t pay at the end of the period, are my data deleted ?' %}</h4>
                            <p class="faq-answer">
                                {% blocktrans %}
                                    When the end of the period is approaching, you receive at least 3 reminders with the new invoice to pay.
                                    If you do not pay on time, you are given a consistent amount of extra time to do the payment.
                                    After that period, your platform is shutdown, but all your data are kept.
                                    Everything will be put back in place when you pay your invoice.
                                    Your data are completely deleted after 1 year of inactivity.
                                {% endblocktrans %}
                            </p>
                        </div>
                        <div class="col-md-10 col-md-offset-1 faq-item" style="padding-bottom: 5vh;">
                            <h4 class="faq-question">{% trans 'Can I pay for a year ?' %}</h4>
                            <p class="faq-answer">
                                {% blocktrans %}
                                    Yes you can. You are highly encouraged to pay for a year as you will benefit a discount.
                                    Switch to annual payment view to see how much it costs and get your platform for a year.
                                {% endblocktrans %}
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div style="border-bottom: 2px solid #65ccfa; border-radius: 30px; margin-top: 4vh; padding-top: 6vh;"></div>
                </div>
            </section>
            <div style="margin-top: 100px" class="text-center">
                <a id="deploy" class="btn btn-sm deploy-cloud-bottom animated pulse" href="{% url 'tsunami:bundles' %}">{% trans "Deploy now !" %}</a>
            </div>
            <a class="js-scrollTo back-to-top hiding" href="#section-header-general-view" style="text-decoration: none; color: #3F3F3F">
                <i class="fa fa-chevron-circle-up"></i>
            </a>
        </div>

        {#    Modal declaration : BEGIN #}
        <div class="modal fade" id="advice" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-info text-center" style="padding: 3vh 0">
                    <div class="">
                        <div class="bgd-image">
                            <span class="fas fa-exclamation-circle" style="font-size: 70px; color: #2b8abb"></span>
                            <div class="clearfix"></div>
                            <div id="acknowledgement-msg" style="margin-top: 20px;">{% blocktrans %}Please read this following tutorial before deploying your <strong>e-commerce</strong> website<br><br>{% endblocktrans %}</div>
                        </div>
                    </div>
                    <div>
                       <div>
                            <div class="col-xs-12 col-sm-5 col-md-5" style="margin: auto; float: none">
                                <button class="btn btn-default btn-success btn-block btn-sm" data-dismiss="modal" aria-label="OK">{% trans "OK" %}</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        {#    Modal declaration : END #}


{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        (function () {
            {#<!--$('#site-menu a.cta').attr('href', "{% url 'ikwen:sign_in' %}?next={% url 'tsunami:bundles' %}");-->#}
            $('#advice').modal('show');
        })()
    </script>
{% endblock %}

