{% extends "website/base.html" %}
<title>ikwen' services links</title>
{% block page_content %}
    <div style="display:block">
        <div style="display:block;text-align:center;margin:0 auto">
            <div style="display:inline-block;">
               <ul style="list-style: none;">
                   {% for service in service_list %}
                       <li><a href="{{ service.url }}">{{ service }}</a></li>
                   {% endfor %}
                   {% if service_list %}
                       <li><a href="{% url 'service_indexes' end %}">Next</a></li>
                   {% endif %}
               </ul>
            </div>
        </div>
    </div>
{% endblock %}
