a { text-decoration: none !important }

.heading-title { font-weight: bolder; margin: 5vh 0 6vh 0;}
.heading-subtitle { color: #6f6f6f; font-size: 18px; padding-bottom: 10vh;}

.blockquote { border: none !important; }
.bundle-list { margin: 1vh 0 10vh 0;}

/*.faq-question { color: #83d5fa; }*/
.features-separator { width: 80%; }


.pricingTable{
    background: #fff;
	border: 0 solid #FFFFFF;
	border-radius: 4px;
    padding-bottom: 20px;
    overflow: hidden;
	transition: border-color 0.8s ease-in-out, transform 0.8s ease-out;
}

.pricingTable .pricingTable-header{
    margin-bottom: 6vh;
    position: relative;
    z-index: 1;
}


.pricingTable:hover { border: 1px solid #606aa3; transform: translate(0, -3vh);}

.pricingTable .pricingTable-header:before{
    content: "";
    width: 100%;
    height: 225%;
    background: #606aa3;
    position: absolute;
    top: -190%;
    left: -10%;
    z-index: -1;
    transform: rotate(-42deg);
}

.pricingTable .pricingTable-header:after{
    content: "";
    width: 100%;
    height: 190%;
    background: #727cb6;
    position: absolute;
    top: -76%;
    right: -16%;
    z-index: -2;
    transform: rotate(20deg);
}

.pricingTable .price-value{
    display: inline-block;
    width: 50%;
    padding: 5px 0;
    float: left;
    font-size: 25px;
    color: #fff;
    line-height: 20px;
    position: relative;
    top: 10px;
    left: 20px;
}

.pricingTable .currency{
    font-size: 10px;
/*
    position: relative;
    top: -10px;
    right: -3px;
*/
}



.pricingTable .title{
    display: inline-block;
    width: 50%;
    padding: 30px 0;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    line-height: 20px;
    text-transform: uppercase;
    position: relative;
    top: 10px;
    right: -50px;
}

.pricingTable .pricing-content{
	font-family: PT sans;
    list-style: none;
    padding: 20px 0;
    margin: 0 0 20px 0;
    text-align: center;
    clear: both;
}

.pricingTable .pricing-content li{
    font-size: 17px;
    color: #828282;
    line-height: 40px;
}

.pricingTable .subtitle{
    color: #82919f;
    display: block;
    font-size: 15px;
	margin-top: -20px !important;
    padding-left: 3vw !important;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: left !important;
}

.pricingTable .billing-cycle{
    color: #ffffff;
    display: block;
    font-size: 14px;
	margin-top: -50px;
    padding-left: 1.3vw;
    padding-top: 1vh;
    text-align: left !important;
}


.pricingTable .pricingTable-signup{
    display: block;
    width: 80%;
    padding: 10px 0;
    text-align: center;
    border: 1px solid #606aa3;
    border-radius: 4px;
    margin: 0 auto;
    font-size: 18px;
    color: #606aa3;
    z-index: 1;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
}

.pricingTable .pricingTable-signup:before,
.pricingTable .pricingTable-signup:after{
    content: "";
    border-width: 0;
    border-style: solid;
    position: absolute;
    z-index: -1;
    transition: all 0.7s ease 0s;
}

.pricingTable .pricingTable-signup:before{
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #606aa3;
    bottom: 0;
    left: 0;
}

.pricingTable .pricingTable-signup:after{
    border-color: rgba(0, 0, 0, 0) #606aa3 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    top: 0;
    right: 0;
}

.pricingTable .pricingTable-signup:hover:before,
.pricingTable .pricingTable-signup:hover:after{
    border-width: 150px 262px;
}


.pricingTable.green:hover {border: solid 1px #18a288;}

.pricingTable.green .pricingTable-header:before{ background: #18a288; }

.pricingTable.green .pricingTable-header:after{ background: #1abc9c; }

.pricingTable.green .pricingTable-signup{ border-color: #1abc9c; color: #1abc9c; }

.pricingTable.green .pricingTable-signup:before{ border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #18a288; }

.pricingTable.green .pricingTable-signup:after{ border-color: rgba(0, 0, 0, 0) #18a288 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0); }

.pricingTable.orange:hover {border: solid 1px #ee6e00;}

.pricingTable.orange .pricingTable-header:before{ background: #ee6e00; }

.pricingTable.orange .pricingTable-header:after{ background: #e67e22; }

.pricingTable.orange .pricingTable-signup{ border-color: #e67e22; color: #e67e22; }

.pricingTable.orange .pricingTable-signup:before{ border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ee6e00; }

.pricingTable.orange .pricingTable-signup:after{ border-color: rgba(0, 0, 0, 0) #ee6e00 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0); }

.pricingTable.purple:hover {border: solid 1px #b14468;}

.pricingTable.purple .pricingTable-header:before{ background: #b14468; }

.pricingTable.purple .pricingTable-header:after{ background: #cf4d78; }

.pricingTable.purple .pricingTable-signup{ border-color: #cf4d78; color: #cf4d78; }

.pricingTable.purple .pricingTable-signup:before{ border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #b14468; }

.pricingTable.purple .pricingTable-signup:after{ border-color: rgba(0, 0, 0, 0) #b14468 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0); }

.navbar-left { display: none !important; }

.faq-title { background-color: #f8f9fa; margin-top: -9vh !important; padding: 0 0 5vh 0; }
.faq-item { padding-bottom: 5vh;}
.faq-question { font-weight: bold;}
.faq-answer { color: #828282; }

@media only screen and (max-width: 990px){
    .pricingTable{ margin-bottom: 30px; }
    .pricingTable .title { right: -40px !important; }
    .pricingTable .billing-cycle { margin-top: -47px !important; padding-left: 3.3vw !important;}

    .faq-title { margin: -13vh 0 5vh 66vh !important; max-width: 25vw }
}

/* Landscape */
@media only screen and (max-width: 900px) and (orientation: landscape) {
    .pricingTable .pricingTable-header{ margin-bottom: 30vh; }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    .pricingTable .pricingTable-header:before{
        height: 300%;
        top: -267%;
    }
    .pricingTable .pricingTable-header:after{
        height: 270%;
        top: -106%;
    }
    .pricingTable .title{ right: -40px !important; text-align: left !important; }

    .faq-title { margin: -10vh 0 5vh 17vh !important; max-width: 40vw }
}

@media only screen and (max-width: 767px){
    .pricingTable .pricingTable-header:before{
        height: 300%;
        top: -333%;
    }
    .pricingTable .pricingTable-header:after{
        height: 270%;
        top: -123%;
    }
}

@media only screen and (max-width: 480px){
    .pricingTable .pricingTable-header:after{ top: -146%; }
}

@media only screen and (max-width: 479px){
    .pricingTable .pricingTable-header:before{
        height: 200%;
        top: -130%;
        left: -20%;
    }
}

/* iPad pro optimisation */
/* Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {

    .heading-title { font-size: 5.5vw !important; }
    .heading-subtitle { font-size: 3.5vw !important; }

    .pricingTable .billing-cycle { padding-left: 2.3vw; }
    .pricingTable .title { right: -20px !important; }
    .pricingTable .subtitle { font-size: 25px; }
    .pricingTable .pricing-content li{ font-size: 24px; }

    .blockquote-footer { font-size: 3vw; }

    .faq-title { font-size: 7vw; margin: -9.5vh 0 5vh 26vh !important; max-width: 25vw !important; }
    .faq-answer { font-size: 2.5vw;}
    .faq-question { font-size: 4vw;}

    section.faq-general-view { display: none !important; }
    section.faq-ipadPro-view { display: block !important; }
}

/* iPad optimisation */
/* Portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1020px) and (orientation : portrait) {
    /*.pricingTable .pricing-content { font-size: 50vw !important; }*/

    .heading-subtitle { font-size: 3.5vw !important; }

    .pricingTable .title { right: -40px !important; }
    .pricingTable .subtitle { font-size: 25px; }
    .pricingTable .pricing-content li{ font-size: 24px; }

    .blockquote-footer { font-size: 3vw }

    .faq-title { font-size: 7vw; margin: -9.5vh 0 5vh 26vh !important; max-width: 25vw !important; }
    .faq-answer { font-size: 3.5vw;}
    .faq-question { font-size: 5vw;}
}
/* landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .pricingTable .title { right: -25px !important; }
    .faq-title { margin: -9.5vh 0 5vh 53vh !important;}
}


/* Animation set *8
.animated {
	-webkit-animation-duration: 1.3s;
	animation-duration: 1.3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}


@-webkit-keyframes pulse {
	from {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}

	50% {
	-webkit-transform: scale3d(1.05, 1.05, 1.05);
	transform: scale3d(1.05, 1.05, 1.05);
	}

	to {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}
}

@-moz-keyframes pulse {
	from {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}

	50% {
	-webkit-transform: scale3d(1.05, 1.05, 1.05);
	transform: scale3d(1.05, 1.05, 1.05);
	}

	to {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}
}

@-o-keyframes pulse {
	from {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}

	50% {
	-webkit-transform: scale3d(1.05, 1.05, 1.05);
	transform: scale3d(1.05, 1.05, 1.05);
	}

	to {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}
}

@-ms-keyframes pulse {
	from {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}

	50% {
	-webkit-transform: scale3d(1.05, 1.05, 1.05);
	transform: scale3d(1.05, 1.05, 1.05);
	}

	to {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}
}

@keyframes pulse {
	from {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}

	50% {
	-webkit-transform: scale3d(1.05, 1.05, 1.05);
	transform: scale3d(1.05, 1.05, 1.05);
	}

	to {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}
}

.pulse:hover {
	-webkit-animation-name: pulse;
	animation-name: pulse;
}
