@charset "UTF-8";
/*
  Author: W1773ND (wilfriedwillend@gmail.com)
*/

h1 {font-family: Lato;}
h2 { font-family: Lato; font-size: 2.5vw; line-height: 6vh; margin-top: 0 !important;}

p { font-family: PT sans; font-size: 1vw; line-height: 3.5vh;}

.anchor { font-size: 4vw; padding-top: 6vh; }

.container-fluid { margin-left: 0 !important; margin-right: 0 !important;}

.img-features{ }

.picto-features{ max-width: 100px; }


.section-banniere { background: url(../img/Tsunami_banniere.jpg) center center no-repeat;
					-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;
					background-size: cover; color: white; height: 251px; margin-top: 5vh; }
.section-banniere-top { background: url(../img/Tsunami_banniere_top.jpg) center center;
					-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;
					background-size: cover; color: white; height: 300px; margin-top: 6.5vh !important; }
.section-features-text { padding-top: 10vh; }

.section-header{ background: url(../img/Tsunami_entete.png) center center;
				-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;
				background-size: cover; height: 100vh; }


/* Media querry */

@media all and (max-width: 980px) {
/*** wrap row in a flex box ***/
.custom_row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
-webkit-flex-wrap: wrap; /* Safari 6.1+ */
flex-wrap: wrap;
	padding-bottom: 5vh;
}
 
/* custom classes that will designate the order of columns in the flex box row */
.first-on-mobile {
-webkit-order: 1;
order: 1;
}
 
.second-on-mobile {
-webkit-order: 2;
order: 2;
}
/*** add margin to last column ***/
.custom_row:last-child .et_pb_column:last-child {
margin-bottom: 30px;
}
 
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.anchor { display: none !important; }
	
	button.mobile-adjust { margin-top: 2vh !important;}

	div.mobile-adjust{ padding-top: 8vh !important; }
		
	.container.desktop-landscape{ display: none !important;}
	
	h1.mobile-adjust{ font-size: 10vw !important; }
	h2.mobile-adjust { font-size: 8vw !important; }

	p.mobile-adjust { font-size: 5vw; line-height: 4.5vh;}
	
	.img-features {display:  none !important;}
	
	.picto-features { text-align: center !important; }
		
	.section-features-text{ padding-top: 0 !important; }
	.section-header{ background: url(../img/Tsunami_entete_mobile.png) center center;
					-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;
					background-size: cover; height: 100vh; padding-top: 2.5vh !important;}
	
}

/* Landscape optimisation */
@media only screen and (max-width: 900px) and (orientation: landscape) {
	.anchor { display: none !important;}

	.btn-outline-primary { margin-top: 5px !important; }
	
	.btn.mobile-adjust { margin-top: 0 !important;}
	
	div.mobile-adjust{ padding-top: 2vh !important; margin: 0 !important; }
	
	h1.mobile-adjust { font-size: 5vw !important; padding-bottom: 2vh !important; }
	h2.mobile-adjust { font-size: 5vw !important; line-height: 12vh; padding-bottom: 2vh !important; }

	p.mobile-adjust { font-size: 2.5vw !important; line-height: 6vh !important; padding-bottom: 1.5vh !important; margin-bottom: 2vh !important; }
	
	.img-features {display:  none !important;}
	
	.section-banniere-top { margin-top: 20vh !important; }
	.section-features-text{ padding-top: 0 !important; }
	.section-header{ background: url(../img/Tsunami_entete_mobile.png) center center;
                        -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;
                        background-size: cover; height: 100vh; padding-top: 15vh !important;;}


}

/* iPad pro optimisation */
/* Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {

	.anchor { font-size: 8vw; padding-top: 6vh; }
	
	.btn.mobile-adjust { font-size: 3vw ; height: 5vh !important; width: 32vw !important;}

	#container-general-view { display: none !important; }
	#container-iPad-view { display: block !important; }
	
	.discover-link { font-size: 2.2vw !important; }
	
	#section-header-general-view {display: none !important;}

	
	h1.mobile-adjust { font-size: 5.5vw !important; padding-bottom: 2vh !important; }
	h2.mobile-adjust { font-size: 4vw !important; line-height: 3vh; padding-bottom: 2vh !important; }

	p.mobile-adjust { font-size: 2.5vw !important; line-height: 3vh !important; padding-bottom: 1.5vh !important; margin-bottom: 2vh !important; }
	
	#section-header-iPad-view { display: block !important}  
	.img-features { padding-top: 4vh !important; }
	
	.section-banniere > div { padding: 0 !important; }
	.section-banniere > div > h1 { font-size: 5vw !important; }
	
	.section-banniere-top { display: none !important; }
	#section-banniere-top-iPad-view { display: block !important; margin-top: 1vh !important;}
	#section-banniere-top-iPad-view > div { padding-top: 3vh !important; }
	#section-banniere-top-iPad-view > div > h1 { font-size: 5vw !important; }
	.section-features-text{ padding-top: 0 !important; }
	.section-header{ background: url(../img/Tsunami_entete_iPad_pro.png) center center;
                        -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
                        height: 100vh;}

}

/* Landscape */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {

	.anchor { font-size: 6vw; padding-top: 6vh; }
	
	.btn.mobile-adjust { font-size: 2.3vw; height: 7vh !important; width: 25vw !important;}
	
	div.mobile-adjust{ padding-top: 2vh !important; }
	.discover-link { font-size: 2vw !important; }
	
	h1.mobile-adjust { font-size: 4.5vw !important; padding-bottom: 2vh !important; }
	h2.mobile-adjust { font-size: 4vw !important; line-height: 6vh; padding-bottom: 2vh !important; }

	p.mobile-adjust { font-size: 2.5vw !important; line-height: 4vh !important; padding-bottom: 1.5vh !important; margin-bottom: 2vh !important; }
	  
	.img-features {padding-top: 10vh !important; }

	.section-banniere-top { display: none !important; }
	.section-banniere-top > h2 { font-size: 8vw !important; }
    #section-banniere-top-iPad-view { display: block !important; margin-top: 10vh !important; padding-top: 5vh !important; }
	/*.section-features-text{ padding-top: 0 !important; }*/
	.section-header{ background: url(../img/Tsunami_entete_iPad_pro.png) center center;
                        -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
                        height: 100vh;}
}


/* iPad optimisation : Portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

	.anchor { font-size: 10vw; padding-top: 6vh; }
	
	.btn.mobile-adjust { font-size: 3vw !important; height: 6vh !important; width: 32vw !important;}
	
	.discover-link { font-size: 3.2vw !important; }
	
	#section-header-general-view {display: none !important;}
	
	h1.mobile-adjust { font-size: 6.5vw !important; padding-bottom: 2vh !important; }
	h2.mobile-adjust { font-size: 5vw !important; line-height: 5vh; padding-bottom: 2vh !important; }

	p.mobile-adjust { font-size: 3.5vw !important; line-height: 3vh !important; padding-bottom: 1.5vh !important; margin-bottom: 2vh !important; }
	
	#section-header-iPad-view { display: block !important}  
	.img-features { display: none !important}

	.section-banniere { height: 270px; }
	.section-banniere > div { padding-top: 0 !important; }
	.section-banniere > div > h1 { font-size: 5vw !important; }
	
	.section-banniere-top { display: none !important; }
	#section-banniere-top-iPad-view { display: block !important; height: 360px; margin-top: 0 !important;}
	#section-banniere-top-iPad-view > div { padding-top: 5vh !important; }
	#section-banniere-top-iPad-view > div > h1 { font-size: 5vw !important; }
	.section-features-text{ padding-top: 0 !important; }
	.section-header{ background: url(../img/Tsunami_entete_iPad_pro.png) center center;
                        -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;
                        background-size: cover; height: 100vh;}
}



/* Animation set */
.animated {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

/*
.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
*/

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
}

@-moz-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
}

@-o-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
}

@-ms-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
}


@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
}

.discover-link:hover > i {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}


@-webkit-keyframes pulse {
	from {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}

	50% {
	-webkit-transform: scale3d(1.05, 1.05, 1.05);
	transform: scale3d(1.05, 1.05, 1.05);
	}

	to {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}
}

@-moz-keyframes pulse {
	from {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}

	50% {
	-webkit-transform: scale3d(1.05, 1.05, 1.05);
	transform: scale3d(1.05, 1.05, 1.05);
	}

	to {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}
}

@-o-keyframes pulse {
	from {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}

	50% {
	-webkit-transform: scale3d(1.05, 1.05, 1.05);
	transform: scale3d(1.05, 1.05, 1.05);
	}

	to {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}
}

@-ms-keyframes pulse {
	from {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}

	50% {
	-webkit-transform: scale3d(1.05, 1.05, 1.05);
	transform: scale3d(1.05, 1.05, 1.05);
	}

	to {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}
}

@keyframes pulse {
	from {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}

	50% {
	-webkit-transform: scale3d(1.05, 1.05, 1.05);
	transform: scale3d(1.05, 1.05, 1.05);
	}

	to {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}
}

.pulse:hover {
	-webkit-animation-name: pulse;
	animation-name: pulse;
}

