/**
    Document   : base
    Created on : Jul 20, 2020, 00:00
    Author     : W1773ND (wilfriedwillend@gmail.com)
    Description:
        Additional basic display rules for Ikwen Website [Foulassi Campaign]
*/
html, body {height: 100%; }

h1.title-main { font-weight: 700; margin-bottom: 3vh }
h4.title-seccondary { }


.main-home { background: url("../img/ikwen-Website-background-(Foulassi).png") center center no-repeat; background-size: cover; height: 100vh; }

.btn-embed { padding-left: 35px; padding-right: 35px }

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a, .dropdown-menu>li>a { color: #217DBB!important; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #217DBB !important; color: #FFF !important }

#navbar-search input { background: #f6f6f6; }

.login-title { border-bottom: none; }
.login-title img { height: 65px; }



.lang-switcher {/* float: right; *//* padding: 15px; */}
.lang-switcher select {background: none}
.lang-switcher i {display: none}

.bag-shade { box-shadow: 0 8px 8px rgba(0, 0, 0, .15), 0 3px 2px rgba(0, 0, 0, .15);}

#content.form.register {padding-top: 1%;}
#stage {/* background: #fff; *//* border-radius: 4px; */float: none;padding: 0;}
.login-title, .register-title {border-bottom: 1px solid #eee; margin-top: 0; padding: 1.3em 0 1em; text-align: center}
.login-title img {border-radius: 4px; height: 40px}
.register-title {font-weight: 300}
.register-title img {float: left}
label span {font-weight: normal}
.welcome {color: #fff; display: none; font-family: "Lato", "PT Sans", sans-serif; font-size: 1.6em; font-weight: 300; overflow: hidden; text-align: center; }
.default-pwd {font-size: 2em}
.change-pwd {height: 0; overflow: hidden; transition: height .3s}
#content.form form {border: none;margin-top: 0;padding: 15px 30px;}
/*.input-group.username {height: 0; overflow: hidden; margin-bottom: 0}*/
.form-group.password {height: auto; overflow: hidden}
.input-group.username, .input-group-btn.submit-username {display: none;}
#username, #email {text-transform: lowercase}
#cancel.btn {float: left; width: 180px}
#content.register #continue.btn, #content.register #submit.btn {float: right; width: 180px}
.login-with-ikwen {font-size: 1em;letter-spacing: .5px;}
.login-with-ikwen img {margin: -4px 5px 0 0}
.login-with-ikwen strong {font-weight: 700;}
.forgotten-pwd {float: left; margin-top: 7px}
.init .col-sm-5, .init .col-md-4, .init .col-sm-7, .init .col-md-8 {padding: 0; width: auto}
#auth > .form-group.password > * {float: none; width: auto}
.dob .col-xs-4 {padding: 0 5px}
.dob .col-xs-4:first-of-type {padding-left: 15px}
.dob .col-xs-4:last-of-type {padding-right: 15px}
.dob .errorlist {margin: -13px 0 0;text-align: right;}
.why-dob {display: block; font-size: 11px; margin: -12px 0 10px 0; text-align: right}
.init .row {margin-left: 0; margin-right: 0}
.init .input-group.username {margin-top: 10px;display: table;height: auto;/* margin-bottom: 15px; */}
.init .input-group.username > div {clear: both; float: none}
.init .input-group-btn.submit-username {display: table-cell;}
.init .form-group.password {height: 0}
.create-account, .init .form-group.submit,
.terms, .register .forgotten-pwd, .register.step2 .input-group.username,
.register.step2 .form-group.password, .register.step2 .form-group.password2,
.register.step1 .form-group.first-name, .register.step1 .form-group.last-name,
.register.step2 .form-group.email, .register.step2 .form-group.phone, .dob,
.register.step1 .form-group.gender, #cancel.btn, #continue.btn, .register.step1 #submit {display: none}
.register .create-account, .register.step2 .terms,
.register.step1 .form-group.password, .register.step1 .form-group.password2,
.register.step2 .form-group.first-name, .register.step2 .form-group.last-name,
.register.step1 .form-group.email, .register.step1 .form-group.phone, .register.step2 .dob,
.register.step2 .form-group.gender, .register #cancel, .register.step1 #continue, .register.step2 #submit {display: block}
.register .input-group.username {height: auto; margin-bottom: 15px}
select#month {text-transform: capitalize}
#terms-warning {font-size: 11px}

#bottom-menu li { list-style-type: none; margin-left: 15px; }
.social-square {display: inline-block;font-size: 30px;margin-top: -10px;}
.footer {padding-top: 2vh;margin: 0;}

.ico-facebook:hover { color: #1d4b99 }
.ico-linkedin:hover { color: #0170ac }
.ico-twitter:hover { color: #1c9dec }
.ico-youtube:hover { color: #f80000 }

@media (min-width: 768px) {
  .form-wrapper { width: 60% !important; }
  #content { min-height: 0; }
}

@media (max-width: 767px) {
    body {background: none}
    .main-home {padding: 15vh 0 120px;height: auto !important;min-height: 100vh;}
    .login-title {border-bottom: none; font-size: 21px}
    #stage {box-shadow: none; width: 90%}
    #content {padding: 0 0 0 0 !important;}
    #content.form form {padding-left: 15px; padding-right: 15px}
    #content.form.init form {margin-top: 45px}
    #content.form.register #submit {float: right; width: 180px}
    .login-with-ikwen {height: 50px}
    #stage {margin-top: 3vh !important;width: 90%;}
    #content.form form {padding-left: 15px; padding-right: 15px}
    .footer { padding-top: 0 }
}
@media (min-width: 992px) {
    #content.form.register {padding-top: 1%;}
}

@media (min-width: 480px) {
    #content.form.register #submit {float: right; width: 180px}
}
@media (min-width: 992px) {
    #content.form {padding-top: 1%;}
  .main-home {padding: 35vh 0 120px;}
}