
#navbar {background-color: transparent}
.navbar-brand strong, .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover {color: #203e96;}
#navbar-search input {background: rgba(90, 125, 193, 0.48); color: #fff;}
#navbar .glyphicon {color: #211919;}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {color: #1f356a;}
#navbar .glyphicon.glyphicon-search {color: #fff;}
.btn.login { background: #233682; color: #FFF;font-weight: 600;width: 100px;}