{% load i18n static cache %}


<meta name="apple-mobile-web-app-status-bar-style" content="#233682">

<meta name="theme-color" content="#233682">

<meta name="msapplication-TileColor" content="#233682">
<meta name="msapplication-navbutton-color" content="#233682">
<meta name="msapplication-TileImage" content="{% static 'website/icons/icon-144x144.png' %}">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#233682">

<link rel="apple-touch-icon" sizes="180x180" href="{% static 'website/icons/icon-180x180.png' %}">
<link rel="shortcut icon" type="image/png" href="{% static "website/icons/icon-192x192.png" %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'website/icons/icon-96x96.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'website/icons/icon-32x32.png' %}">
