{% load i18n humanize staticfiles cache auth_tokens %}
<div class="edge-panel-left-container visible-xs">
    <div id="side-nav" class="edge-panel-left subtle-shade" style="margin-left: -300px">
        <div class="wrapper">
            <div class="stage">
                <div class="top-edge-panel" style>
                    <div class="panel-top">
                    <img src="{% static 'website/img/Logo-ikwen_780x780.png' %}" class="img-responsive text-center" style="margin:auto; width: 60%">
                </div>
                <div class="divider"></div>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                        {% comment %}<li class="dropdown">
                          <a href="javascript:;" data-toggle="collapse" data-target="#daraja-version" aria-expanded="false">Daraja <b class="caret"></b> </a>
                          <ul id="daraja-version" class="collapse" style="list-style: none">
                            <li role="presentation"><a href="{% url 'daraja:home' %}">{% trans "Community" %}</a></li>
                            <li role="presentation"><a href="{% url 'daraja:for_businesses' %}">{% trans "Enterprise" %}</a></li>
                          </ul>
                        </li>{% endcomment %}
                        <li><a href="{% url 'daraja:home' %}"> Daraja</a></li>
                        <li><a href="{% url 'tsunami:home' %}"> Tsunami</a></li>
                        <li><a href="{% url 'foulassi:home' %}"> Foulassi</a></li>
                        <li><a href="{% url 'kakocase' %}"> Kakocase</a></li>
                        <li><a href="{% url 'pinsview' %}"> PinsView</a></li>
{#                        <li class="kakocase"><a href="{% url 'ikwen:company_profile' 'webnode' %}"> Webnode</a></li>#}
{#                        <li class="kakocase"><a href="{% url 'ikwen:company_profile' 'shavida' %}"> Shavida</a></li>#}
                        <div class="divider"></div>
                        <li><a href="http://blog.ikwen.com">{% trans 'Blog' %}</a> </li>
                        <li><a href="http://support.ikwen.com">{% trans 'Support' %}</a> </li>
                        <li><a href="{% url 'about' %}">{% trans 'About' %}</a> </li>
                        <li><a href="{% url 'terms_and_conditions' %}">{% trans 'Terms & conditions' %}</a> </li>
                        {% if agreement_page %}
{#                            <li><a href="{% url 'flatpage' agreement_page.url %}">{{ agreement_page.title }}</a></li>#}
                        {% endif %}
                        <div class="text-right">
                            {% include 'website/snippets/language_switcher.html' %}
                        </div>
                    </ul>
                    <div class="clearfix"></div>
                    <div class="social-icon">
                        {% if config.facebook_link %}
                            <a href="{{ config.facebook_link }}" target="_blank"><i class="fa fa-facebook-official"></i></a>
                        {% endif %}
                        {% if config.instagram_link %}<a href="{{ config.instagram_link }}" target="_blank"><i class="fa fa-instagram"></i></a>{% endif %}
                        {% if config.twitter_link %}<a href="{{ config.twitter_link }}" target="_blank"><i class="fa fa-twitter-square"></i></a>{% endif %}
                        {% if config.google_plus_link %}
                            <a href="{{ config.google_plus_link }}" target="_blank"><i class="fa fa-google-plus-square"></i></a>{% endif %}
                        {% if config.linkedin_link %}<a href="{{ config.linkedin_link }}" target="_blank"><i class="fa fa-linkedin-square"></i></a>{% endif %}
                    </div>
                </div>
            </div>

            <div id="footer">
                &copy; {{ year }} <a class="company-name" href="{{ service.url }}"><strong>{{ config.company_name }}</strong></a>.
                {% trans "All rights reserved." %}
                {% if config.legal_mentions_url %}
                - <a href="{{ config.legal_mentions_url }}" style="color: #666; text-decoration: none">{% trans "Legal mentions" %}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
