{% load i18n staticfiles auth_tokens %}
<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="copyright" content="ikwen." >
        {% block meta %}
            {% include 'core/snippets/favicon.html' %}
        {% endblock %}
		{% block page_title %}{% endblock %}
		{% block head_style %}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
            <link rel='stylesheet' href="{% static 'ikwen/css/flatly.bootstrap.min.css' %}" />
            <link rel='stylesheet' href="{% static 'website/css/com/base_default.css' %}" />
		{% endblock %}
        {% block head_js %}
            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
              <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
            <script src="{% static 'ikwen/js/jquery-1.12.4.min.js' %}"></script>
        {% endblock %}
    </head>
    {% block after_head %}{% endblock %}
    <body>
        <div id="top-notice-ctnr" style="display: none">
            <span class="floating-notice has-shade" style="float: none; position: static"> </span>
        </div>
        {% block header %}
            {% with collaborates_on=user.collaborates_on %}
                {% url "ikwen:account_setup" as account_setup_url %}
                <nav id="navbar" class="navbar navbar-default navbar-static-top">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <div class="container-fluid">
                                <i class="glyphicon glyphicon-menu-left back"></i>
                                <div class="menu-button">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </div>
                                {% block header_brand %}
                                    <a class="navbar-brand hidden-xs" href="{{ service.url }}">
                                        <strong>{{ service.project_name }}</strong>
                                    </a>
                                    <strong class="navbar-brand visible-xs">{{ service.project_name }}</strong>
                                {% endblock %}
                                {% block site_menu_xs %}
                                    <nav class="visible-xs pull-right">
                                        <ul id="nav-xs" class="nav navbar-nav navbar-right">
                                            <li class="show-search">
                                                <a>
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </a>
                                            </li>
                                            {% if user.is_authenticated %}
                                                <li class="home">
                                                    <a href="{{ settings.IKWEN_CONSOLE_URL }}">
                                                        <i class="glyphicon glyphicon-bell" aria-hidden="true"></i>
                                                        {% if user.personal_notices > 0 %}
                                                            <span class="label label-danger">{{ user.personal_notices }}</span>
                                                        {% endif %}
                                                    </a>
                                                </li>
                                                {% if collaborates_on|length >= 1 %}
                                                    <li class="dropdown">
                                                        <a id="apps-xs" class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="glyphicon glyphicon-th-large"></i>
                                                        </a>
                                                        <ul class="dropdown-menu" aria-labelledby="apps-xs" style="right: -39px">
                                                            {% for app in collaborates_on %}
                                                                <li><a href="{{ app.admin_url }}">{{ app.project_name }}</a></li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                {% endif %}
                                                <li class="dropdown">
                                                    <a id="user-menu-xs" class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="glyphicon glyphicon-user"></i>
                                                    </a>
                                                    <ul class="dropdown-menu" aria-labelledby="user-menu-xs">
                                                        <li style="padding: 3px 20px"> {{ user.get_short_name }} </li>
                                                        <li role="separator" class="divider"></li>
                                                        <li>
                                                            <a href="{{ account_setup_url|ikwenize }}">{% trans "Account setup" %}</a>
                                                        </li>
                                                        <li><a href="{% url "ikwen:logout" %}">{% trans "Logout" %}</a> </li>
                                                    </ul>
                                                </li>
                                            {% else %}
                                                <li>
                                                    <a href="{% url 'ikwen:sign_in' %}" style="float: left">{% trans "Login" %}</a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                {% endblock %}
                            </div>
                        </div>
                        <div id="navbar-search" class="navbar-form navbar-left">
                            <form id="search" autocomplete="off" onsubmit="return false">
                                <i class="glyphicon glyphicon-menu-left hide-search visible-xs"></i>
                                <i class="glyphicon glyphicon-search hidden-xs"></i>
                                <input type="text" name="radix" class="form-control input-sm" placeholder="{% trans "Search" %}">
                                <input type="hidden" name="q">
                                <span class="spinner" style="display: none"></span>
                            </form>
                            <div id="navbar-results" style="display: none" data-min-search-chars="2">
                                <div class="stage">
                                    {% include 'core/snippets/spinner.html' %}
                                    <ul style="float: left; padding-left: 0; width: 100%">
                                        <li class="ik-li tpl" style="display: none">
                                            <a class="target_url" style="display: block">
                                                <span class="image rounded photo logo bg-img" style="background-image: url({% static 'ikwen/img/no_photo.png' %})"></span>
                                                <div class="info">
                                                     <div class='full_name project_name has-faded-edge'></div>
                                                    <p class="about short_description minor-tag"></p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        {% block site_menu %}
                            <div id="site-menu" class="collapse navbar-collapse">
                                <div class="container-fluid">
                                    <ul class="nav navbar-nav navbar-right" style="margin: 0 -15px 0 0">
                                        {% if user.is_authenticated %}
                                            <li id="user-home">
                                                <a href="{{ settings.IKWEN_CONSOLE_URL }}">
                                                    {% trans "Home" %}
                                                    {% if user.get_notice_count > 0 %}
                                                        <span class="label label-danger" style="margin-top: -18px">{{ user.get_notice_count }}</span>
                                                    {% endif %}
                                                </a>
                                            </li>
                                            {% if collaborates_on|length == 1 %}
                                                <li id="user-apps">
                                                    <a href="{{ collaborates_on.0.admin_url }}">{{ collaborates_on.0.project_name }}</a>
                                                </li>
                                            {% elif collaborates_on|length > 1 %}
                                                <li id="user-apps" class="dropdown">
                                                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Apps</a>
                                                    <ul class="dropdown-menu" aria-labelledby="apps">
                                                        {% for app in collaborates_on %}
                                                            <li><a href="{{ app.admin_url }}">{{ app.project_name }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% endif %}
                                            <li id="user-menu" class="dropdown">
                                                <a class="icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="glyphicon glyphicon-user"></i>
                                                </a>
                                                <ul class="dropdown-menu" aria-labelledby="user-menu">
                                                    <li style="padding: 3px 20px"> {{ user.get_short_name }} </li>
                                                    <li role="separator" class="divider"></li>
                                                    <li>
                                                        <a href="{{ account_setup_url|ikwenize }}">{% trans "Account setup" %}</a>
                                                    </li>
                                                    <li><a href="{% url "ikwen:logout" %}">{% trans "Logout" %}</a> </li>
                                                </ul>
                                            </li>
                                        {% else %}
                                            <li class="hidden-xs">
                                                <a href="{% url 'ikwen:sign_in' %}" class="cta">{% trans "Login" %}</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </nav>
            {% endwith %}
        {% endblock %}
        {% block selection_control %}{% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}
            <footer class="footer">
                <div class="container">
                    <div class="row" style="margin-bottom: 15px">
                        <div class="col-sm-3" style="margin-top: 4vh; text-align: center;">
                            <a href="{% url 'tsunami:home' %}">
                                <img class="footer-mobile-adjust" src="{% static 'tsunami/img/Logo-IKWEN-Tsunami(niveau-de-blanc).png' %}" style="max-width: 7vw;"/>
                                <h4 style="color: #ffffff; font-size: 1.8vw; text-align: center;" class="logo footer-mobile-adjust">Tsunami</h4>
                            </a>
                        </div>
                        <div class="col-sm-3 col-xs-4 footer-mobile-adjust">
                            <h5 style="color: #ffffff; font-weight: bold; font-size: 2vw; margin-top: 5vh;">{% trans 'Get started' %}</h5>
                            <ul style="font-size: 1.2vw; line-height: 1.7; list-style-type: none; padding-left: 0">
                                <li><a style="color: #d2d1d1;" href="{% url 'tsunami:home' %}">{% trans 'Home' %}</a></li>
                                <li><a style="color: #d2d1d1;" href="http://www.ikwen.com/" target="_blank">{% trans 'Sign In' %}</a></li>
        {#                        <li><a style="color: #d2d1d1;" href="#" target="_blank">{% trans 'Downloads' %}</a></li>#}
                            </ul>
                        </div>
                        <div class="col-sm-3 col-xs-4 footer-mobile-adjust">
                            <h5 style="color: #ffffff; font-weight: bold; font-size: 2vw; margin-top: 5vh;">{% trans 'About us' %}</h5>
                            <ul style=" font-size: 1.2vw; line-height: 1.7; list-style-type: none; padding-left: 0">
                                <li><a style="color: #d2d1d1;" href="http://www.ikwen.com/about" target="_blank">{% trans 'Our Company' %}</a></li>
        {#                        <li><a style="color: #d2d1d1;" href="#" target="_blank">{% trans 'Contact us' %}</a></li>#}
                                <li><a style="color: #d2d1d1;" href="#" target="_blank">{% trans 'Reviews' %}</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-3 col-xs-4 footer-mobile-adjust">
                            <h5 style="color: #ffffff; font-weight: bold; font-size: 2vw; margin-top: 5vh;">Support</h5>
                            <ul style="font-size: 1.2vw; line-height: 1.7; list-style-type: none; padding-left: 0">
                                <li><a style="color: #d2d1d1;" href="http://blog.ikwen.com/" target="_blank">Blog</a></li>
                                <li><a style="color: #d2d1d1;" href="http://support.ikwen.com/" target="_blank">{% trans 'Help desk' %}</a></li>
        {#                        <li><a style="color: #d2d1d1; text-decoration: none" href="#" target="_blank">Forums</a></li>#}
                            </ul>
                        </div>
        {#                <div class="col-sm-3 footer-mobile-adjust">#}
        {#                    <div class="social-networks" style="padding-bottom: 16px; padding-top: 30px; text-align: center">#}
        {#                        <a style="color: #f9f9f9; padding: 10px; text-decoration: none; transition: 0.2s;" href="#" class="twitter"><i class="fa fa-twitter"></i></a>#}
        {#                        <a style="color: #f9f9f9; padding: 10px; text-decoration: none; transition: 0.2s;" href="#" class="facebook"><i class="fa fa-facebook"></i></a>#}
        {#                        <a style="color: #f9f9f9; padding: 10px; text-decoration: none; transition: 0.2s;" href="#" class="google"><i class="fa fa-google-plus"></i></a>#}
        {#                    </div>#}
        {#                    <button type="button" class="btn btn-default">Contact us</button>#}
        {#                </div>#}
                    </div>
                </div>
                <div class="footer-copyright mobile-adjust" style="padding: 3px 0; text-align: center;">
                    &copy; {{ year }} <a class="company-name" href="{{ service.url }}"><strong style="color: #ffffff">{{ config.company_name }}</strong></a>.
                </div>
            </footer>
        {% endblock %}
        <div class="edge-swipe-overlay"></div>
        <script src="{% static 'ikwen/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'ikwen/hammerjs/hammer.min.js' %}"></script>
        <script src="{% static 'ikwen/hammerjs/jquery.hammer.js' %}"></script>
        <script src="{% static 'ikwen/js/ikwen-util.js' %}"></script>
        {% block js %}
            <script>
                (function() {
                    $('form#lang a').click(function() {
                        var lang = $(this).data('val');
                        $('form#lang input[name=language]').val(lang);
                        $('form#lang').submit();
                        return false
                    });

                    $('#nav-xs').on('click', '.show-search', function() {
                        $('#navbar-search').prependTo('body').fadeIn().find('input').focus();
                    });
                    $('#navbar-search').on('click', '.hide-search', function() {
                        $('#navbar-search').fadeOut();
                        $(this).val("");
                        $('#search-results').fadeOut()
                    });
                    if ($(window).width() < 992) {
                        $('.edge-panel-left').addClass('has-shade').appendTo('.edge-swipe-overlay')
                    }
                    $( window ).resize(ikwen.debouncer(function (e) {
                        var winWidth = $(window).width();
                        if (winWidth < 768) {
                            if (!$('#navbar-search').is(':visible')) {
                                $('#navbar-search').prependTo('body');
                                $('#navbar-search input').focus();
                            }
                            $('.edge-panel-right').addClass('has-shade').appendTo('.edge-swipe-overlay');
                        } else if (winWidth >= 768) {
                            $('#navbar-search').insertBefore('#site-menu');
                            $('.edge-panel-right').css('margin-right', 0).removeClass('has-shade').appendTo('.edge-panel-right-container').show();
                        }
                        if (winWidth >= 992) {
                            $('.edge-panel-left').css('margin-left', 0).removeClass('has-shade').appendTo('.edge-panel-left-container').show();
                        } else {
                            $('.edge-panel-left').addClass('has-shade').appendTo('.edge-swipe-overlay');
                        }
                    }));

                    $(window).on("scroll", function() {
                        if($(window).scrollTop() > 150) {
                            $(".navbar").addClass("active");
                            $("#navbar-search").addClass("active");

                        } else {
                            //remove the background property so it comes transparent again (defined in your css)
                           $(".navbar").removeClass("active");
                           $("#navbar-search").removeClass("active");
                        }
                    });

                    $('.js-scrollTo').on('click', function() {
                        var page = $(this).attr('href');
                        var speed = 750;
                        $('html, body').animate( { scrollTop: $(page).offset().top }, speed );
                        return false;
                    });

                    {% url 'ikwen:list_projects' as list_projects_url %}
                    var searchDescriptor = [{
                        endpoint: '{{ list_projects_url|ikwenize }}',
                        resultTplSelector: '#navbar-results .ik-li',
                        jsonp: true
                    }];
                    $('form#search input').focusout(function() {$('#navbar-results').fadeOut()});
                    ikwen.setupSearch('#search input', '#navbar-results', searchDescriptor);
                })()
            </script>
        {% endblock %}
    </body>
</html>