{% extends 'com/base.html' %}
{% load i18n humanize static %}

{% block page_title %}
    <title> IKWEN - Tsunami Bundles</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'tsunami/css/tsunami_bundles.css' %}">
{% endblock %}

{% block content %}
    <body style=" background: #f8f9fa url('{% static 'tsunami/img/Tsunami_bundle_entete.png' %}') center center ;
            -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height: 110vh; background-repeat: no-repeat">
        <div class="container" style="font-family: Lato; margin-bottom: 10vh;">
            <div class="row text-center">
                <h1 class="heading-title ">Tsunami Pricing Table</h1>
            </div>
            <div class="row">
            {% for bundle in bundle_list %}
                <div class="col-md-4 col-sm-6">
                {% if bundle.name == 'Standard' %}
                    <div class="pricingTable green subtle-shade">
                        <div class="pricingTable-header">
                            <span class="price-value"><span class="currency">XAF</span>{{ bundle.cost | intcomma }}</span>
                            <h3 class="title">{{ bundle.name }}</h3>
                            <span class="billing-cycle">{% trans 'Per quarter' %}</span>
                        </div>
                        <ul class="pricing-content">
                        <hr class="features-separator">
                            <span class="subtitle">{% trans 'Cloud tools' %}</span>
                            {{ bundle.content | safe }}
                            <li><strong>+1 {% trans 'eCommerce website' %}</strong></li>
                        <hr class="features-separator">
                            <span class="subtitle">{% trans 'Revival items' %}</span>
                            <li><strong>{{ bundle.mail_count | intcomma }} Emails</strong></li>
                            <li><strong>{{ bundle.sms_count | intcomma }} SMS.</strong></li>
                        <hr class="features-separator">
                            <span class="subtitle">{% trans 'Support set' %}</span>
                            <li><strong>{% trans '2 weeks of phone support' %}</strong></li>
                            <li><strong>{% trans '2 x 2 hours of coaching onsite' %}</strong></li>
                        </ul>
                        <a href="{% url 'tsunami:go' %}?bundle_id={{ bundle.id }}" class="pricingTable-signup animated infinite pulse">{% trans 'I Want' %}</a>
                    </div>
                {% elif bundle.name == 'Business' %}
                    <div class="pricingTable orange has-shade">
                        <div class="pricingTable-header">
                            <span class="price-value"><span class="currency">XAF</span>{{ bundle.cost | intcomma }}</span>
                            <h3 class="title">{{ bundle.name }}</h3>
                            <span class="billing-cycle">{% trans 'Per quarter' %}</span>
                        </div>
                        <ul class="pricing-content">
                        <hr class="features-separator">
                            <span class="subtitle">{% trans 'Cloud tools' %}</span>
                            {{ bundle.content | safe }}
                            <li><strong>+1 {% trans 'eCommerce website' %}</strong></li>
                        <hr class="features-separator">
                            <span class="subtitle">{% trans 'Revival items' %}</span>
                            <li><strong>{{ bundle.mail_count | intcomma }} Emails</strong></li>
                            <li><strong>{{ bundle.sms_count | intcomma }} SMS.</strong></li>
                        <hr class="features-separator">
                            <span class="subtitle">{% trans 'Support set' %}</span>
                            <li><strong>{% trans '1 month of phone support' %}</strong></li>
                            <li><strong>{% trans '4 x 2 hours of coaching onsite' %}</strong></li>
                        </ul>
                        <a href="{% url 'tsunami:go' %}?bundle_id={{ bundle.id }}" class="pricingTable-signup animated infinite pulse">{% trans 'I Want' %}</a>
                    </div>
                {% else %}
                    <div class="pricingTable purple subtle-shade">
                        <div class="pricingTable-header">
                            <span class="price-value"><span class="currency">XAF</span>{{ bundle.cost | intcomma }}</span>
                            <h3 class="title">{{ bundle.name }}</h3>
                            <span class="billing-cycle">{% trans 'Per quarter' %}</span>
                        </div>
                        <ul class="pricing-content">
                        <hr class="features-separator">
                            <span class="subtitle">{% trans 'Cloud tools' %}</span>
                            {{ bundle.content | safe }}
                            <li><strong>+1 {% trans 'eCommerce website  and domain name' %} </strong></li>
                        <hr class="features-separator">
                            <span class="subtitle">{% trans 'Revival items' %}</span>
                            <li><strong>{{ bundle.mail_count | intcomma }} Emails</strong></li>
                            <li><strong>{{ bundle.sms_count | intcomma }} SMS.</strong></li>
                        <hr class="features-separator">
                            <span class="subtitle">{% trans 'Support set' %}</span>
                            <li><strong>{% trans '1 month of phone support' %}</strong></li>
                            <li><strong>{% trans '4 x 2 hours of coaching onsite' %}</strong></li>
                        </ul>
                        <a href="{% url 'tsunami:go' %}?bundle_id={{ bundle.id }}" class="pricingTable-signup animated infinite pulse">{% trans 'I Want' %}</a>
                    </div>
                {% endif %}
                </div>
            {% endfor %}
            </div>
        </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
    </script>
{% endblock %}

