{% extends 'com/base.html' %}
{% load i18n static %}

{% block meta %}
    {{ block.super }}
    <link rel="shortcut icon" type="image/png" href="{% static "tsunami/img/favicon_Tsunami.ico" %}">
    <meta name="theme-color" content="#233682">
    <meta name="msapplication-navbutton-color" content="#233682">
    <meta name="apple-mobile-web-app-status-bar-style" content="#233682">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.ikwen.com/tsunami/" />
    <meta property="og:image" content="{% static 'tsunami/img/Logo-IKWEN-Tsunami_og.png' %}" />
    <meta property="og:title" content="{% trans "ikwen TSUNAMI, the cloud tools your business needs" %}"/>
    <meta property="og:description" content="{% trans "Reach more csustomers and sell all your stocks with Tsunami" %}">
    <meta property="description" content="{% trans "Reach more csustomers and sell all your stocks with Tsunami" %}" />
{% endblock %}

{% block page_title %}
    <title> ikwen - Tsunami</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'tsunami/css/tsunami_homepage.css' %}?V=29.10.19.16.43">
    <style>
        div#email-error {display: none}
    </style>
{% endblock %}

{% block header_brand %}
    <a class="navbar-brand hidden-xs" href="{{ service.url }}">
        <img src="{% static "tsunami/img/logo_ikwen_web_header.png" %}"/>
    </a>
    <strong class="navbar-brand visible-xs">{{ service.project_name }}</strong>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="section-header-general-view" class="container-fluid section-header" style="padding-top: 6vh;">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center mobile-adjust" style="padding-top: 18vh">
                <img style="max-width: 120px" alt="logo_ikwen_TSUNAMI" src="{% static 'tsunami/img/Logo-IKWEN-Tsunami.png' %}"/>
              <h1 class="mobile-adjust" style="font-size: 3.5vw;">{% trans 'Reach more customers and sell all your stocks with Tsunami' %}</h1>
                <p class="mobile-adjust" style="">
                    {% trans 'Tsunami builds for you a persistent customer base and offers your products to this community via continuous automated Mail and SMS reminders.You should consider increasing your available stocks.... ' %}
                </p>

                {% if request.user.is_authenticated %}
                    <a  href='{% url 'tsunami:bundles' %}'>
                        <button  type=button class="btn btn-outline-primary btn-deploy animated pulse mobile-adjust" style="margin-top: 20px; height: 45px;">{% trans 'Deploy <b>Tsunami</b>' %}</button>
                    </a>
                {% else %}
                     <button type="button" class="btn btn-outline-primary btn-deploy animated pulse mobile-adjust" data-toggle="modal" data-target="#modal-get-email" style="margin-top: 20px; height: 45px;">{% trans 'Deploy <b>Tsunami</b>' %}</button>
                {% endif %}
                <div class="anchor">
                    <a class="js-scrollTo" href="#banniere-top" style="text-decoration: none"><i class="fa fa-arrow-circle-down"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div id="section-header-iPad-view" class="container-fluid section-header" style="display: none;">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center mobile-adjust" style="padding-top: 20vh">
                <img style="max-width: 120px" alt="logo_ikwen_TSUNAMI" src="{% static 'tsunami/img/Logo-IKWEN-Tsunami.png' %}"/>
                <h1 class="mobile-adjust" style="font-size: 3.5vw;">{% trans 'Reach more customers and sell all your stocks with Tsunami' %}</h1>
                <p class="mobile-adjust" style="">
                    {% trans 'Tsunami builds for you a persistent customer base and offers your products to this community via continuous automated Mail and SMS reminders.You should consider increasing your available stocks.... ' %}
                </p>
                {% if request.user.is_authenticated %}
                    <a  href='{% url 'tsunami:bundles' %}'>
                        <button type="button" class="btn btn-outline-primary animated pulse mobile-adjust" style="margin-top: 20px; height: 45px;">{% trans 'Deploy <b>Tsunami</b>' %}</button>
                    </a>
                {% else %}
                     <button type="button" class="btn btn-outline-primary animated pulse mobile-adjust" data-toggle="modal" data-target="#modal-get-email" style="margin-top: 20px; height: 45px;">{% trans 'Deploy <b>Tsunami</b>' %}</button>
                {% endif %}
               <div class="anchor">
                    <a class="js-scrollTo" href="#banniere-top" style="text-decoration: none"><i class="fa fa-arrow-circle-down"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div id="banniere-top" class="container-fluid">
        <div class="row section-banniere-top" style="margin-top: 0;">
            <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 text-center" style="padding-top: 7vh">
              <h1>{% trans 'Go digital with Tsunami' %} </h1>
                <button type="button" class="btn btn-outline-white animated pulse mobile-adjust" data-toggle="modal" data-target="#modal-get-email" style="margin-top: 20px; height: 45px;">{% trans 'Deploy <b>Tsunami</b>' %}</button>
            </div>
        </div>
        <div id="section-banniere-top-iPad-view" class="row section-banniere-top" style="display: none">
            <div class="col-md-8 col-md-offset-2 text-center">
              <h1>Passez au digital avec Tsunami </h1>
                {% if request.user.is_authenticated %}
                    <a  href='{% url 'tsunami:bundles' %}'>
                        <button type="button" class="btn btn-outline-white btn-deploy animated pulse mobile-adjust" style="margin-top: 20px; height: 45px;">{% trans 'Deploy <b>Tsunami</b>' %}</button>
                    </a>
                {% else %}
                    <button type="button" class="btn btn-outline-white btn-deploy animated pulse mobile-adjust" data-toggle="modal" data-target="#modal-get-email" style="margin-top: 20px; height: 45px;">{% trans 'Deploy <b>Tsunami</b>' %}</button>
                {% endif %}

            </div>
        </div>
    </div>

    <div class="container" id="container-general-view">
        <div class="row row-custom" style="padding-top: 5vh">
            <div class="col-md-6 section-features-text second-on-mobile">
                <img class="picto-features" alt="picto_better_customer_compréhension" src="{% static 'tsunami/img/best_buddy_list_exploitation_picto.png' %}" />
                <h2 class="mobile-adjust" style="font-size: 3vw">{% trans 'Efficient use of the customer directory' %}</h2>
                <p class="mobile-adjust">
                    {% trans 'You will now keep the contacts of your customers in a modern and useful way. Tsunami will be able to use this directory on his own to bring you even more customers and encourage them into repeated purchases. No more old paper phone books that get dusty at the bottom of the drawer.' %}
                </p>
                <a href="http://blog.ikwen.com/notion-dinbound-marketing-marketing-entrant/" target="_blank" style="font-size: 15px; font-weight: bold; margin-top: 10px; text-decoration: none;" class="discover-link">{% trans 'Discover Cloud Customer Manager' %}&nbsp;<i class="fa fa-arrow-circle-right animated infinite slideInLeft"></i></a>
            </div>
            <div class="col-md-6 col-sm-6 first-on-mobile">
                <img class="img-features" alt="img_client_list_exploitation" src="{% static 'tsunami/img/best_buddy_list_exploitation.png' %}" />
            </div>
        </div>
        <div class="row row-custom">
            <div class="col-md-6 col-sm-6 first-on-mobile">
                <img class="img-features" alt="img_client_retention" src="{% static 'tsunami/img/customers_retention.png' %}" />
            </div>
            <div class="col-md-6 section-features-text second-on-mobile" style="padding-top: 15vh">
                <img class="picto-features" alt="picto_client_retention" src="{% static 'tsunami/img/client_retention_picto.png' %}" />
                <h2 class="mobile-adjust">{% trans 'Customer retention made easy' %}</h2>
                <p class="mobile-adjust">
                    {% trans 'Tsunami has a powerful marketing tool that can strategically offers rewards to all your prospects without you spending a single penny.' %}
                </p>
                <a href="http://blog.ikwen.com/continuous-rewarding-a-propos-de/" target="_blank" style="font-size: 15px; font-weight: bold; margin-top: 10px; text-decoration: none;" class="discover-link">{% trans 'Discover Continuous Rewarding' %}&nbsp;<i class="fa fa-arrow-circle-right animated infinite slideInLeft"></i></a>
            </div>
        </div>
        <div class="row row-custom">
            <div class="col-md-6 section-features-text second-on-mobile">
                <img class="picto-features" alt="picto_sold_everywhere" src="{% static 'tsunami/img/sold_everywhere_picto.png' %}" />
                <h2 class="mobile-adjust">{% trans 'Sell everywhere, sell everytime... Sell online' %}</h2>
                <p class="mobile-adjust">
                    {% trans 'Tsunami ensures that you no longer lose any opportunity to sell, by making your products directly available online, on all platforms, 24/7. Yes, you have your own e-commerce web/mobile site. Customers can order immediately after receiving your messages and pay online using MTN Mobile Money and Orange Money.' %}
                </p>
                <a href="http://blog.ikwen.com/kakocase-le-e-commerce-par-ikwen/" target="_blank" style="font-size: 15px; font-weight: bold; margin-top: 10px; text-decoration: none;" class="discover-link">{% trans 'Discover KAKOCASE' %}&nbsp;<i class="fa fa-arrow-circle-right animated infinite slideInLeft"></i></a>
            </div>
            <div class="col-md-6 col-sm-6 first-on-mobile">
                <img class="img-features" alt="img_client_list_exploitation" src="{% static 'tsunami/img/sold_everywhere.png' %}" />
            </div>
        </div>
        <div class="row row-custom">
            <div class="col-md-6 first-on-mobile">
                <img class="img-features" alt="img_smartphone_accessibility" src="{% static 'tsunami/img/smartphone-accessibility.png' %}" />
            </div>
            <div class="col-md-6 section-features-text second-on-mobile">
                <img class="picto-features" alt="picto_smartphone_accessibility" src="{% static 'tsunami/img/smartphone-accessibility_picto.png' %}" />
                <h2 class="mobile-adjust">{% trans 'Be on your customers Smartphones' %} </h2>
                <p class="mobile-adjust">
                    {% trans 'Stay close to your customers with your icon installed in their smartphones. They can easily access you online store just by pressing on his home screen. Tsunami redefines the customer contact for you.' %}
                </p>
{#					<a href="#" target="_blank" style="font-size: 15px; font-weight: bold; margin-top: 10px; text-decoration: none;" class="discover-link">{% trans 'Discover the Launchers' %}&nbsp;<i class="fa fa-arrow-circle-right animated infinite slideInLeft"></i></a>#}
            </div>
        </div>
    </div>

    <div class="container" id="container-iPad-view" style="display: none;">
        <div class="row row-custom" style="padding-top: 7vh">
            <div class="col-md-10 col-md-offset-1 section-features-text">
                <img class="picto-features" alt="picto_better_customer_compréhension" src="{% static 'tsunami/img/best_buddy_list_exploitation_picto.png' %}" />
                <h2 class="mobile-adjust" style="font-size: 3vw">{% trans 'Efficient use of the customer directory' %}</h2>
                <p class="mobile-adjust">
                    {% trans 'You will now keep the contacts of your customers in a modern and useful way. Tsunami will be able to use this directory on his own to bring you even more customers and encourage them into repeated purchases. No more old paper phone books that get dusty at the bottom of the drawer.' %}
                </p>
                <a href="http://blog.ikwen.com/notion-dinbound-marketing-marketing-entrant/" target="_blank" style="font-size: 15px; font-weight: bold; margin-top: 10px; text-decoration: none;" class="discover-link">{% trans 'Discover Cloud Customer Manager' %}&nbsp;<i class="fa fa-arrow-circle-right animated infinite slideInLeft"></i></a>
            </div>
        </div>
        <div class="row row-custom">
            <div class="col-md-10 col-md-offset-1" style="padding-top: 7vh;">
                <img class="picto-features" alt="picto_client_retention" src="{% static 'tsunami/img/client_retention_picto.png' %}" />
                <h2 class="mobile-adjust">{% trans 'Customer retention made easy' %}</h2>
                <p class="mobile-adjust">
                    {% trans 'Tsunami has a powerful marketing tool that can strategically offers rewards to all your prospects without you spending a single penny.' %}
                </p>
                <a href="http://blog.ikwen.com/continuous-rewarding-a-propos-de/" target="_blank" style="font-size: 15px; font-weight: bold; margin-top: 10px; text-decoration: none;" class="discover-link">{% trans 'Discover Continuous Rewarding' %}&nbsp;<i class="fa fa-arrow-circle-right animated infinite slideInLeft"></i></a>
            </div>
        </div>
        <div class="row row-custom">
            <div class="col-md-10 col-md-offset-1" style="padding-top: 7vh;">
                <img class="picto-features" alt="picto_sold_everywhere" src="{% static 'tsunami/img/sold_everywhere_picto.png' %}" />
                <h2 class="mobile-adjust">{% trans 'Sell everywhere, sell everytime... Sell online' %}</h2>
                <p class="mobile-adjust">
                    {% trans 'Tsunami ensures that you no longer lose any opportunity to sell, by making your products directly available online, on all platforms, 24/7. Yes, you have your own e-commerce web/mobile site. Customers can order immediately after receiving your messages and pay online using MTN Mobile Money and Orange Money.' %}
                </p>
                <a href="http://blog.ikwen.com/kakocase-le-e-commerce-par-ikwen/" target="_blank" style="font-size: 15px; font-weight: bold; margin-top: 10px; text-decoration: none;" class="discover-link">{% trans 'Discover KAKOCASE' %}&nbsp;<i class="fa fa-arrow-circle-right animated infinite slideInLeft"></i></a>
            </div>
        </div>
        <div class="row row-custom">
            <div class="col-md-10 col-md-offset-1" style="padding-top: 7vh;">
                <img class="picto-features" alt="picto_smartphone_accessibility" src="{% static 'tsunami/img/smartphone-accessibility_picto.png' %}" />
                <h2 class="mobile-adjust">{% trans 'Be on your customers Smartphones' %} </h2>
                <p class="mobile-adjust">
                    {% trans 'Stay close to your customers with your icon installed in their smartphones. They can easily access you online store just by pressing on his home screen. Tsunami redefines the customer contact for you.' %}
                </p>
{#					<a href="#" target="_blank" style="font-size: 15px; font-weight: bold; margin-top: 10px; text-decoration: none;" class="discover-link">{% trans 'Discover the Launchers' %}&nbsp;<i class="fa fa-arrow-circle-right animated infinite slideInLeft"></i></a>#}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row section-banniere">
            <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 text-center" style="padding-top: 3.5vh">
              <h1>{% trans 'Go digital with Tsunami' %}</h1>

                {% if request.user.is_authenticated %}
                     <a  href='{% url 'tsunami:bundles' %}'>
                        <button type="button" class="btn btn-outline-white btn-deploy animated pulse mobile-adjust" style="margin-top: 20px; height: 45px;">{% trans 'Deploy <b>Tsunami</b>' %}</button>
                    </a>
                {% else %}
                    <button type="button" class="btn btn-outline-white btn-deploy animated pulse mobile-adjust" data-toggle="modal" data-target="#modal-get-email" style="margin-top: 20px; height: 45px;">{% trans 'Deploy <b>Tsunami</b>' %}</button>
                {% endif %}

            </div>
        </div>
    </div>
    <a class="js-scrollTo back-to-top hiding" href="#section-header-general-view" style="text-decoration: none; color: #3F3F3F">
        <i class="fa fa-chevron-circle-up"></i>
    </a>

{# Modal definition :BEGIN #}
    <div id="modal-get-email" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-get-email">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog modal-m vertical-align-center" role="document">
                <div class="modal-content" style=" background: url({% static 'tsunami/img/get_email-modal_background.png' %}); border: 0.2px solid #ccc; border-radius: 4px; text-align: center;">
                    <div class="modal-header no-border " style="color: #464646">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #d32f2f">&times;</span></button>
                        <h4 class="modal-title" style="text-align: center">{% trans "Please, enter your email before proceeding..." %}</h4>
                    </div>
                    <div id='email-error' class="failure" style="margin: auto; width: 80%">Enter a valid email please </div>
                    <div class="modal-body">
                        <form action="{% url 'tsunami:home' %}" id="get-user-email">
                            <input id="action" name='action' type="hidden" required value="send_mail_to_visitor">
                            <input id="visitor-email" name='visitor_email' type="email" required placeholder="Email" aria-describedby="input-email" class="form-control-custom">
                        </form>
                    </div>
                    <div class="modal-footer no-border" style="padding-top: 0 !important; text-align: center !important;">
                        <span class="btn btn-outline-primary btn-process mobile-adjust ">{% trans "Continue" %}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    {{ block.super }}
    <script>
        (() => {
            // redirect to Tsunami signIn page
            $('#site-menu a.cta').attr('href', "{% url 'ikwen:sign_in' %}?next={% url 'tsunami:home' %}");

            // set focus when modal is opened
            $('#modal-get-email').on('shown.bs.modal', function () {
                $("#visitor-email").focus();
            });

            $('#visitor-email').focusin(function () {
                $('div#email-error').fadeOut().hide()
            });

            // get the email for Tsunami relaunch mails
            $('.btn-process').click(function () {
                var visitor_email = $('#visitor-email').val();
                if (visitor_email !== ''){
                    $('#get-user-email').submit()
                }else {
                    $('div#email-error').fadeIn().show()
                }

            });
            // navbar transition
            let scrollBreakPoint = 90;
            $(window).scroll((event) => {
                let scrollTop = $(this).scrollTop();
                if (scrollTop > scrollBreakPoint){
                    let opacity = Math.abs(scrollBreakPoint - scrollTop) / 100;
                    $('#navbar').css("background-color", `rgba(35, 54, 130, ${opacity})`);
                } else {
                    $('#navbar').css("background-color", "transparent");
                }
            });
        })()
    </script>
{% endblock %}