{% extends 'com/base.html' %}
{% load i18n static %}

{% block page_title %}
    <title>Tsunami - How to</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'tsunami/css/tsunami_how_to.css' %}">
{% endblock %}

{% block content %}
    <body style="background-color: #f8f9fa">
		<div id="section-header-general-view" class="container-fluid section-header">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 mobile-adjust" style="padding-top: 20vh">
					<div class="media">
						<a href="#" class="pull-left">
							<img src="{% static 'tsunami/img/Logo-IKWEN-Tsunami.png' %}" class="media-object" style="max-width: 110px" alt="Sample Image"/>
						</a>
						<div class="media-body ">
							<h1 class="media-heading">Félicitations {{client.name}} !</h1>
							<h4 class="mobile-adjust"> Vous êtes désormais propriétaire d'une plateforme Tsunami.
								Découvrez les possibilités de ce formidable outil Cloud qui va révolutionner votre activité.
                            </h4>
                            <p class="bill-link">Votre facture est disponible, payez maintenant et obtenez votre <span class="animated infinite pulse" style="color: #ef7000">code support.</span></p>
                            <a href="{% url 'billing:invoice_detail' invoice.id %}" class="btn btn-outline-primary" style="min-width: 200px;"> Payer</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="section-header-iPad-view" class="container-fluid section-header" style="display: none;">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 mobile-adjust" style="padding-top: 20vh">
					<div class="media">
						<a href="#" class="pull-left">
							<img src="{% static 'tsunami/img/Logo-IKWEN-Tsunami.png' %}" class="media-object" style="max-width: 110px" alt="Sample Image"/>
						</a>
						<div class="media-body">
							<h2 class="media-heading">Félicitations {{client.name}} !</h2>
							<h4> Vous êtes désormais propriétaire d'une plateforme Tsunami.
								Découvrez les possibilités de ce formidable outil Cloud qui va révolutionner votre activité.</h4>
							<a href="#" style="text-decoration: none"><h5>Votre facture est disponible, payez maintenant et obtenez votre code support.</h5></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="features-top" class="container">
			<div class="col-md-12 col-md-offset-1 mobile-adjust fisrt">
				<div class="row custom_row"  style="padding-top: 5vh">
					<div class="col-md-6 section-features-text second-on-mobile">
						<h2 class="mobile-adjust" style="font-size: 1.6vw">Votre relation client entièrement automatisée</h2>
						<p class="mobile-adjust">
							Les clients sont partout,enregistrez les efficacement avec TSUNAMI et laissez le s'occuper du reste.
							Invitez des gens dans vote communauté en partageant votre lien dès à présent.
						</p>
						<a href="#" style="font-size: 15px; font-weight: bold; margin-top: 10px; text-decoration: none;" class="discover-link">Partager mon lien&nbsp;<i class="fa fa-arrow-circle-right animated slideInLeft"></i></a>
					<!--
						<a href="#"><i class="fa fa-facebook-square animated infinite pulse" style="font-size: 3vw"></i></a>
						<a href="#"><i class="fa fa-twitter-square animated infinite pulse" style="font-size: 3vw"></i></a>
-->
					</div>
					<div class="col-md-6 col-sm-6 first-on-mobile">
						<img class="img-features" alt="img_client_list_exploitation" src="{% static 'tsunami/img/fully_automated.png' %}" />
					</div>
				</div>
				<div class="row custom_row"  style="padding-top: 5vh">
					<div class="col-md-6 section-features-text second-on-mobile">
						<h2 class="mobile-adjust" style="font-size: 1.6vw">Inbound marketing : attirez les clients à vous.</h2>
						<p class="mobile-adjust">
							Fini les campagnes marketing à l'aveugles et peu efficaces, désormais vos prospects et clients ont 100 raisons de venir, rester et ramener des gens chez vous. TSUNAMI vous donne la possibilité d'offrir à chacun des coupons cadeaux à collectionner. Ils vont se bousculer pour s'enregistrer dans votre CCM*.
						</p>
						<a href="#" style="font-size: 15px; font-weight: bold; margin-top: 10px; text-decoration: none;" class="discover-link">En savoir plus sur les coupons&nbsp;<i class="fa fa-arrow-circle-right animated slideInLeft"></i></a>
					</div>
					<div class="col-md-6 col-sm-6 first-on-mobile">
						<img class="img-features" alt="img_inbound_marketing" src="{% static 'tsunami/img/inbound_marketing.png' %}" />
					</div>
				</div>
				<div class="row custom_row"  style="padding-top: 5vh">
					<div class="col-md-6 section-features-text second-on-mobile">
						<h2 class="mobile-adjust" style="font-size: 1.6vw">Allez à la conquête du marché mondial</h2>
						<p class="mobile-adjust">
							Vous pouvez dès à présent commencer à vendre en ligne et être payé via Mobile money. Votre activité est ouverte 24/7, les clients peuvent acheter immédiatement vos produits et services à la suite des offres automatiques envoyées par TSUNAMI via mails et SMS.
						</p>
						<a href="#" style="font-size: 15px; font-weight: bold; margin-top: 10px; text-decoration: none;" class="discover-link">Publier des produits&nbsp;<i class="fa fa-arrow-circle-right animated slideInLeft"></i></a>
					</div>
					<div class="col-md-6 col-sm-6 first-on-mobile">
						<img class="img-features" alt="img_client_list_exploitation" src="{% static 'tsunami/img/glogal-market.png' %}" />
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row section-banniere">
				<div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 text-center" style="padding-top: 3vh">
				  	<h1>
						Des questions, besoin d'aide ?
					</h1>
					<h3>
						Contactez nous:
					</h3>
					<div style="">
						<h4>
							<i class="fab fa-whatsapp-square"></i> (+237) <br>
							<i class="fas fa-envelope"></i> suport@ikwen.com
						</h4>
					</div>

				</div>
			</div>
		</div>
	</body>
{% endblock %}
