{% extends 'core/base_bs.html' %}
{% load i18n static %}

{% block page_title %}
    <title> IKWEN - Tsunami</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'tsunami/css/tsunami_homepage.css' %}">
    
    <!-- Inline css -->
    <style>
        .section-banniere { background: url('{% static 'tsunami/img/Tsunami_banniere.jpg' %}') center center;
                            -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;
                            background-size: cover; color: white; height: 250px; margin-top: 5vh; }
        .section-banniere-top { background: url('{% static 'tsunami/img/Tsunami_banniere_top.jpg' %}') center center;
                            -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;
                            background-size: cover; color: white; height: 300px; margin-top: 5vh; }
        .section-features-text { padding-top: 10vh; }
        
        .section-header{ background: url('{% static 'tsunami/img/Tsunami_entete.png' %}') center center;
                        -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;
                        background-size: cover; height: 100vh; }

    /* Media querry */
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        .section-header{ background: url('{% static 'tsunami/img/Tsunami_entete_mobile.png' %}') center center;
                        -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;
                        background-size: cover; height: 100vh; padding-top: 2.5vh !important;}
        }

    /* Landscape optimisation */
    @media only screen and (max-width: 900px) and (orientation: landscape) {
        .section-header{ background: url('{% static 'tsunami/img/Tsunami_entete_mobile.png' %}') center center;
                        -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;
                        background-size: cover; height: 100vh; padding-top: 15vh !important;;}
    }


    /* iPad pro optimisation */
    /* Portrait */
    @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
        .section-header{ background: url('{% static 'tsunami/img/Tsunami_entete_iPad_pro.png' %}') center center;
                        -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
                        height: 100vh;}
    }

    /* Landscape */
    @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
        .section-header{ background: url('{% static 'tsunami/img/Tsunami_entete_iPad_pro.png' %}') center center;
                        -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
                        height: 100vh;}
    }

    /* iPad optimisation : Portrait */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1020px) and (orientation : portrait) {
        .section-header{ background: url('{% static 'tsunami/img/Tsunami_entete_iPad_pro.png' %}') center center;
                        -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;
                        background-size: cover; height: 100vh;}
    }
    </style>
{% endblock %}
{##}
{#{% block header_brand %}#}
{#    <a class="navbar-brand hidden-xs" href="{{ service.url }}">#}
{#        <img src="{% static "tsunami/img/logo-ikwen-150.png" %}">#}
{#    </a>#}
{#    <strong class="navbar-brand visible-xs">{{ service.project_name }}</strong>#}
{#{% endblock %}#}

{% block content %}
    <body style="background-color: #f8f9fa">
		<div id="section-header-general-view" class="container-fluid section-header" style="padding-top: 8vh;">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center mobile-adjust" style="padding-top: 20vh">
					<img style="max-width: 120px" alt="logo_ikwen_TSUNAMI" src="{% static 'tsunami/img/Logo-IKWEN-Tsunami.png' %}"/>
				  <h1 class="mobile-adjust" style="font-size: 3.5vw;">Touchez plus de clients et vendez tous vos stocks avec TSUNAMI</h1>
					<p class="mobile-adjust" style="">
						TSUNAMI construit pour vous une base clientèle persistante et propose vos produits à cette communauté via des relances Mail et SMS automatiques en continu. Vous devriez songer à augmenter vos stocks disponibles...
					</p>
					<a href="{% url 'tsunami:bundles' %}"><button class="btn btn-outline-primary mobile-adjust" style="margin-top: 20px; height: 45px;">Déployez TSUNAMI</button></a>
					<div class="anchor">
						<a class="js-scrollTo" href="#banniere-top" style="text-decoration: none"><i class="fa fa-arrow-circle-down"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div id="section-header-iPad-view" class="container-fluid section-header" style="display: none;">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center mobile-adjust" style="padding-top: 20vh">
					<img style="max-width: 120px" alt="logo_ikwen_TSUNAMI" src="{% static 'tsunami/img/Logo-IKWEN-Tsunami.png' %}"/>
				  <h1 class="mobile-adjust" style="font-size: 3.5vw;">Touchez plus de clients et vendez tous vos stocks avec TSUNAMI</h1>
					<p class="mobile-adjust" style="">
						TSUNAMI construit pour vous une base clientèle persistante et propose vos produits à cette communauté via des relances Mail et SMS automatiques en continu. Vous devriez songer à augmenter vos stocks disponibles...
					</p>
					<button class="btn btn-outline-primary mobile-adjust" style="margin-top: 20px; height: 45px;">Déployez TSUNAMI</button>
					<div class="anchor">
						<a class="js-scrollTo" href="#banniere-top" style="text-decoration: none"><i class="fa fa-arrow-circle-down"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div id="banniere-top" class="container-fluid">
			<div class="row section-banniere-top" style="margin-top: 0;">
				<div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 text-center" style="padding-top: 7vh">
				  <h1>Passez au digital avec ikwen Tsunami </h1>
					<a href="{% url 'tsunami:bundles' %}"><button class="btn btn-outline-secondary animated pulse mobile-adjust" style="font-weight: bold; margin: 20px; height: 45px;"><span style="">Déployez TSUNAMI</span></button></a>
				</div>
			</div>
			<div id="section-banniere-top-iPad-view" class="row section-banniere-top" style="display: none">
				<div class="col-md-8 col-md-offset-2 text-center">
				  <h1>Passez au digital avec ikwen Tsunami </h1>
					<a href="{% url 'tsunami:bundles' %}"><button class="btn btn-outline-secondary animated pulse mobile-adjust" style="font-weight: bold; margin: 20px; height: 45px;"><span style="">Déployez TSUNAMI</span></button></a>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row custom_row"  style="padding-top: 5vh">
				<div class="col-md-6 section-features-text second-on-mobile">
					<img class="picto-features" alt="picto_better_customer_compréhension" src="{% static 'tsunami/img/best_buddy_list_exploitation_picto.png' %}" />
					<h2 class="mobile-adjust" style="font-size: 3vw">Une exploitation efficace du répertoire clients</h2>
					<p class="mobile-adjust">
						Vous prendrez désormais les contacts de vos clients d’une façon moderne et utile. Tsunami saura exploiter de façon autonome ce répertoire pour vous apporter encore plus de clients et les inciter à des achats répétitifs. Fini les vieux registres de numéros de téléphones qui prennent la poussière au fond du tiroir.
					</p>
					<a href="#" style="font-size: 15px; font-weight: bold; margin-top: 10px; text-decoration: none;" class="discover-link">Découvrez le Cloud Customer Manager&nbsp;<i class="fa fa-arrow-circle-right animated infinite slideInLeft"></i></a>
				</div>
				<div class="col-md-6 col-sm-6 first-on-mobile">
					<img class="img-features" alt="img_client_list_exploitation" src="{% static 'tsunami/img/best_buddy_list_exploitation.png' %}" />
				</div>
			</div>
			<div class="row custom_row">
				<div class="col-md-6 col-sm-6 first-on-mobile">
					<img class="img-features" alt="img_client_retention" src="{% static 'tsunami/img/client_retention.png' %}" />
				</div>
				<div class="col-md-6 section-features-text second-on-mobile" style="padding-top: 15vh">
					<img class="picto-features" alt="picto_client_retention" src="{% static 'tsunami/img/client_retention_picto.png' %}" />
					<h2 class="mobile-adjust">Fidéliser le client devient facile</h2>
					<p class="mobile-adjust">
						Tsunami dispose d’un puissant outil marketing capable d'offrir stratégiquement des récompenses à tous vos prospects sans que vous ne dépensiez le moindre sou.
					</p>
					<a href="#" style="font-size: 15px; font-weight: bold; margin-top: 10px; text-decoration: none;" class="discover-link">Découvrez le Continuous Rewarding&nbsp;<i class="fa fa-arrow-circle-right animated infinite slideInLeft"></i></a>
				</div>
			</div>
			<div class="row custom_row">
				<div class="col-md-6 section-features-text second-on-mobile">
					<img class="picto-features" alt="picto_sold_everywhere" src="{% static 'tsunami/img/sold_everywhere_picto.png' %}" />
					<h2 class="mobile-adjust">Vendez partout, vendez tout le temps, vendez en ligne</h2>
					<p class="mobile-adjust">
						Tsunami s’assure que vous ne perdrez plus aucune occasion de vente en rendant vos produits directement accessibles en ligne sur toutes les plateformes connectées 24H/24 et 7j/7. Oui, vous disposez de votre propre site web/mobile de vente. Les clients peuvent commander immédiatement après avoir reçu vos messages et payer directement en ligne par MTN Mobile Money et Orange Money.
					</p>
					<a href="#" style="font-size: 15px; font-weight: bold; margin-top: 10px; text-decoration: none;" class="discover-link">Découvrez KAKOCASE&nbsp;<i class="fa fa-arrow-circle-right animated infinite slideInLeft"></i></a>
				</div>
				<div class="col-md-6 col-sm-6 first-on-mobile">
					<img class="img-features" alt="img_client_list_exploitation" src="{% static 'tsunami/img/sold_everywhere.png' %}" />
				</div>
			</div>
			<div class="row custom_row">
				<div class="col-md-6 first-on-mobile">
					<img class="img-features" alt="img_smartphone_accessibility" src="{% static 'tsunami/img/smartphone-accessibility.png' %}" />
				</div>
				<div class="col-md-6 section-features-text second-on-mobile">
					<img class="picto-features" alt="picto_smartphone_accessibility" src="{% static 'tsunami/img/smartphone-accessibility_picto.png' %}" />
					<h2 class="mobile-adjust">Soyez présent sur les smartphones de vos clients </h2>
					<p class="mobile-adjust">
						Vous restez proche de vos clients avec votre icône installée sur l’écran de leur Smartphone. Il peut sans effort accéder à votre boutique en ligne d'une simple pression sur son écran d'acceuil. TSUNAMI redéfinit pour vous le contact client.
					</p>
					<a href="#" style="font-size: 15px; font-weight: bold; margin-top: 10px; text-decoration: none;" class="discover-link">Découvrez les LAUNCHERS&nbsp;<i class="fa fa-arrow-circle-right animated infinite slideInLeft"></i></a>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row section-banniere">
				<div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 text-center" style="padding-top: 3.5vh">
				  <h1>Passez au digital avec ikwen Tsunami </h1>
					<a href="{% url 'tsunami:bundles' %}"><button class="btn btn-outline-secondary animated pulse mobile-adjust" style="font-weight: bold; margin: 20px; height: 45px;">Déployez TSUNAMI</button></a>
				</div>
			</div>
		</div>
		<script>
			(function() {
				$('.js-scrollTo').on('click', function() {
					var page = $(this).attr('href');
					var speed = 750;
					$('html, body').animate( { scrollTop: $(page).offset().top }, speed );
					return false;
				});
			})();

		</script>
	</body>

{% endblock %}


</html>
