{% extends 'core/mails/base.html' %}
{% load i18n humanize currency %}
{% block content %}
    <div style="color: #777; font: normal 1.35em 'Open Sans', 'Helvetica Neue', Lato, Verdana, Arial, sans-serif; line-height: 1.44em; margin-top: 45px; min-height: 180px; padding: 0 15px; text-align: justify">

        {% blocktrans %}Dear {{ buyer_name }}{% endblocktrans %},<br>
                    {% blocktrans %}
                        {{ message }}
                    {% endblocktrans %}

            <br><br>
            <br/>
            <p style="clear: both; padding-top: 2em">{% trans "Thank you for your trust." %}</p>

    </div>
{% endblock %}