{% extends "website/base.html" %}
{% load i18n humanize static auth_tokens  %}
{% block page_title %}<title>Kakocase - {% trans 'Get started' %} </title>{% endblock %}

{% block meta %}
    {{ block.super }}
    <meta property="og:title" content="Kakocase" />
    <meta property="og:image" content="{{ settings.IKWEN_MEDIA_URL }}{{ config.logo.name }}" />
    <meta property="og:description" content="{% trans "Kakocase lets you create an e-commerce website in a few clicks. Your website accepts Mobile Money payments right out of the box. PayPal is also supported to handle payments with Credit/Debit cards. With our integrated Facebook communication module, launch your marketing campaign and drive thousands of visitors and buyers to your website." %}" />
    <meta property="description" content="{% trans "Kakocase lets you create an e-commerce website in a few clicks. Your website accepts Mobile Money payments right out of the box. PayPal is also supported to handle payments with Credit/Debit cards. With our integrated Facebook communication module, launch your marketing campaign and drive thousands of visitors and buyers to your website." %}" />
    <meta name="abstract" content="{% trans "Web Apps to empower your small or big business" %}"/>
{% endblock %}
{% block head_style %}
    {{ block.super }}
    <link rel='stylesheet' href="{% static 'website/css/apps.css' %}?V=31.10.19.19.09" />
    <style type="text/css">
        li.dropdown:hover > ul.dropdown-menu { background: rgba(255, 255, 255, 0.7) }
        .dropdown-menu>li>a { color: #217DBB !important; }
        .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {color: #FFF !important;background-color: #217DBB !important;}
        .dropdown-menu .username { color: #233682 }

        section.header {background: url("{% static 'website/img/bann_kakocase_web.jpg' %}"); background-size: cover;}
        section.main-feat {background-image:url("{% static 'website/img/commarketing.jpg' %}");background-size: cover;}
        section.address {float: left; margin-top: 0; height: 670px;}
        section.address .cover {background-color: rgba(255, 255, 255, 0.83); color: #2f2f2f; font-weight: 400;}
        section.address .cover h1 {color: #2d2d2d;}
        section.address a {color: #2f2f2f;}
        section.address .cover {height: 670px}
        .white-text-has-shade {text-shadow: 1px 2px 2px rgba(255, 255, 255, 0.7)}

        #bottom-menu .lang-switcher {margin: 0 0 0 50px;}
        #bottom-menu .lang-switcher select {color: #203e96; font-size: 12px; width: 45px}
        #bottom-menu li a {color: #203e96;}
        .features h3 {font-weight: 400}
        h2 {font-size: 36px; font-weight: 600}
        div.footer, div.footer .company-name {color: #203e96;}

        @media only screen
        and (max-width : 768px){
            .features {padding: 25px 0; margin-top: 50px}
            .feat {margin-top: 20px}
            section.header .banner-title-cntr {background-color: rgba(255, 255, 255, 0.7); margin-top: 120px;}
            section.header h1 {color: #000;font-size: 22px; font-weight: 400; line-height: 44px;}
            div.cloud-deploy {bottom: inherit;margin-top: 225px; position: relative}
            section.site.header {height: 510px; margin-top: 0;}
            section.site {padding: 10px 0;}
            section.site.main-feat {height: 700px;}
            section.site .cover {height: 700px; margin-top: -11px;}
            section.address {height: 500px}
            section.address .cover {height: 500px}
        }

        @media only screen and (max-device-width : 425px) {
            section.site.header{height: 410px; margin-top: 0;}
            section.header .banner-title-cntr {background-color: rgba(255, 255, 255, 0.7); margin-top: 70px;}
            section.header h1 {color: #000;font-size: 22px; font-weight: 400; line-height: 44px; }
            .company .title {font-size: 35px }
            .pricing-list > li {margin-top: 75px}
            .lead {font-size: 22px}
            .achievements .title {}
            section.address {float: left; height: 670px}
            section.address .cover {height: 670px}
            #bottom-menu {margin-top: 70px; position: relative}
            #bottom-menu li a {color: #fff; font-size: 22px}
            div.cloud-deploy {bottom: inherit;margin-top: 75px; position: relative}
            .features {padding: 0 0 25px; margin-top: 0}
            .feat {margin-top: 100px}
            .feat:first-child {margin-top: 0}
            section.main-feat {height: 1000px}
            section.main-feat .cover {height: 1000px}
            .contact-img {margin-top: 35px}
            section.site {margin-top: 20px;padding: 10px 0; font-size: 20px;}
            section.site .cover {margin-top: -11px;line-height: 40px}
            section.site.main-feat {height: 650px}
            section.main-feat .cover {height: 650px}
        }

        @media only screen and (min-width : 992px) {
            section.address {float: left; height: 560px; width: 100%}
            section.address .cover {height: 560px}
            section.header .banner-title-cntr {background-color: rgba(255, 255, 255, 0.7); margin-top: 130px;}
            section.header h1 {color: #000; font-size: 33px;font-weight: 400;  line-height: 94px;}
            section.header {height: 900px}
        }

        @media only screen and (min-width : 1200px) {
            section.header .banner-title-cntr {background-color: rgba(255, 255, 255, 0.7); margin-top: 170px;}
            section.header h1 {color: #000; font-size: 33px;font-weight: 400;  line-height: 94px;}
            section.header {height: 1015px}
        }
    </style>
{% endblock %}


{% block header_brand %}
    <a class="navbar-brand hidden-xs" href="{{ service.url }}">
        <img src="{% static "website/img/logo-ikwen_for-header.png" %}">
    </a>
    <strong class="navbar-brand visible-xs">{{ service.project_name }}</strong>
{% endblock %}

{% block page_content %}
    <section class="header site">
            <div class="banner-title-cntr">
                <h1 class="white-text-has-shade">{% trans "Build your customers community and sell online" %}</h1>
            </div>
        <div class="cloud-deploy"><a id="deploy" class="btn btn-sm" href="http://www.ikwen.com/kakocase/deployCloud/">{% trans "Get started" %}</a></div>
    </section>
    <section class="features site">
        <div class="container">
            <h2>{% trans "Features" %}</h2>
            <div class="row features">
                <div class="feat col-sm-4">
                    <div class="col-sm-12">
                        <h3 class="visible-xs">{% trans "Easy setup" %}</h3>
                        <img class="img-responsive" src="{% static 'website/img/easy setup-01.png' %}">
                    </div>
                    <div class="col-sm-12">
                        <h3 class="hidden-xs">{% trans "Easy setup" %}</h3>
                        <div>
                            <p>{% trans "You create your website by filling a simple form, then choosing the template that suits your brand and voilà ! Your business is online." %}</p>
                        </div>
                    </div>
                </div>
                <div class="feat col-sm-4">
                    <div class="col-sm-12">
                        <h3 class="visible-xs">{% trans "Mobile Money" %}</h3>
                        <img class="img-responsive hidden-xs" src="{% static 'website/img/mtn-OM.png' %}">
                        <img class="img-responsive visible-xs" src="{% static 'website/img/mtn-OM-mob.png' %}">
                    </div>
                    <div class="col-sm-12">
                        <h3 class="hidden-xs">{% trans "Mobile Money" %}</h3>
                        <div>
                            <p>{% trans "Your website accepts online payment from MTN Mobile Money and Orange Money. You have detailed report of transactions on your website." %}</p>
                        </div>
                    </div>
                </div>
                <div class="feat col-sm-4">
                    <div class="col-sm-12">
                        <h3 class="visible-xs">{% trans "Integrated Communication" %}</h3>
                        <img class="img-responsive" src="{% static 'website/img/integrated-communication.png' %}">
                    </div>
                    <div class="col-sm-12">
                        <h3 class="hidden-xs">{% trans "Integrated Communication" %}</h3>
                        <div>
                            <p>{% trans "You can advert your website on Facebook with the plan that matches your goal. Drive thousands of visitors and buyers to your website with a few clicks." %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="main-feat site">
        <div class="cover">
            <div class="container">
                <h2>{% trans "Take your business online today." %}.</h2>
                <div>
                    {% trans "There are more than 4.2 billion people out there on internet. Go to them with the right e-commerce website and communication campaign. Access a whole new market by starting today." %}
                </div>
                <a id="deploy" class="btn btn-sm" href="http://www.ikwen.com/kakocase/deployCloud/">{% trans "Get started" %}</a>
            </div>
        </div>
    </section>

{% include 'website/snippets/address_section.html' %}
{% endblock %}
